In [7]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import math
import time
# 한글폰트 적용
import matplotlib.pyplot as plt
import matplotlib as mpl
plt.rc("font",family="AppleGothic")
import seaborn as sns
from datetime import datetime as dt

#마이너스 기호 깨짐 방지
plt.rcParams['axes.unicode_minus']=False

In [8]:
procl = pd.read_csv('./DATA/상품분류.txt', encoding='euc-kr', sep=',')
purprd = pd.read_csv('./DATA/구매상품TR.txt', encoding='euc-kr', sep=',')

In [3]:
procl.head()

  제휴사  대분류코드  중분류코드    소분류코드  중분류명  소분류명
0   A      1    101  A010101  일용잡화  위생세제
1   A      1    101  A010102  일용잡화   휴지류
2   A      1    101  A010103  일용잡화  뷰티상품
3   A      1    101  A010104  일용잡화  일용잡화
4   A      1    101  A010105  일용잡화  세트상품

In [7]:
procl = pd.read_csv('./data/상품분류.txt', encoding='euc-kr', sep=',')

#신선식품
procl.loc[procl['중분류명'].str.contains(r"특산물|견과류|냉장농산|냉장수산|냉장축산|냉장기타|채류|돈육|계육|건어류|해물|육류|농산물|수산품|반찬|단무지|잡곡|초밥|다시마|수입게|떡|족발|순대|연체|새우|마른김|조미김|연어|갈치|굴비|조개|계란|오리|우육|닭|감귤|감|복숭아|자두|구이|토마토|기타회|건과|생활한방|한방식재류|수입육|한우|포도|참외|수박|딸기|메론|오렌지|자몽|석류|레몬|해물연체류|블루베리|체리|수입포도|바나나|파인애플|망고|키위|사과|배|밤|과일|해초|나물|두부|묵|즉석참기름|소고기|돼지고기|김치|반찬|양곡|멸치|황태|우유|즉석도정미|특산물|국산게|해조류|꽁치|조기|고등어|약초|대구|도미|생선|잎|잡곡류|선어|채소|버섯|오징어|젓갈|쥐치포|육포|건명태"),'중분류명'] = '신선식품'
#가공식품
procl.loc[procl['중분류명'].str.contains(r"규격RTC|식사류|건면|즉석식품|발효유|식용유|만두|쿠키|초콜렛|씨리얼|케첩마요네즈|냉장식사|축산가공|가공식품|주류|커피|대용식|음식조리|도시락|빵|HMR|밥죽류|간편요리|냉장간편식|간식|선식|햄|소시지|아이스크림|생수|유제품|요구르트|브랜드빵|치즈|두유|음료|소주|양주|건강식품|담배|꿀|안주|한과|프리미엄과자|과자|피자|디저트|장류|식용유지|가루|수입조미|면류|분유|잼|통조림|이유식|구이찜|건명태|튀김|밥류|선물세트|즉석구이|향신료|설탕류|조리식품|라면|인스턴트|간편조리|맥주|와인|전통주|스낵|껌|캔디|시리얼|파이|비스켓|초콜릿|양념|식자재|마른안주|커피|차|소스|조미료|냉동|가공|육포"),'중분류명'] = '가공식품'
#외식
procl.loc[procl['중분류명'].str.contains(r"맛집행사|컨세션|푸드몰|푸드코트|먹거리|중식|패스트푸드|분식|일식|양식|한식|레스토랑|Fast|카페|편의시설|판매시설|주유소|브랜드조리|베이커리|이벤트조리"),'중분류명'] = '외식'
#일상용품
procl.loc[procl['중분류명'].str.contains(r"음식저장|조리용기|세탁세제|화장지|주방주거세제|화장품|두발용품|생리용품|구강용품|위생용품|주방용품|청소욕실용품|가정잡화|화장지|탈취제|베이직케어|선케어|클렌징|집중케어|남성케어|베이비케어|헤어케어|바디케어|풋케어|구강케어|여성용품|화장지티슈|방향제습탈취제|미용소품|안전용품|여행용품|계절팩|여성|남성|베이스메이크업|아이메이크업|립메이크업|네일메이크업|주방용품|생활잡화|식기|일용잡화|화장품조리용기|조리도구|미용소품|훼이셜케어|공구|종량제봉투|필기도구|미용잡화|노트|드럭스토어|아로마|핸드케어|덴탈케어|화장품|건전지|용품|주방|휴지통|밀대|바디|스킨케어|욕실|헤어|일상용품|티슈|청소편의|세제|제습제|키친타올|위생용품|생리대|섬유유연제|표백제|살충제|탈취제|기저귀|화장지"),'중분류명'] = '일상용품'
#의약품 의료기기 
procl.loc[procl['중분류명'].str.contains(r"건강기능식품|일반의약외품|건강식품|홍인삼|기능성건강|비타민"),'중분류명'] = '의약품/의료기기'
#교육 문화
procl.loc[procl['중분류명'].str.contains(r"문화용품|악기|팬시|교육|EDUCATION|서적|음반"),'중분류명'] = '교육/문화용품'
#디지털가전
procl.loc[procl['중분류명'].str.contains(r"대형가전|소형가전|컴퓨터|전자|주방가전|VIDEO|에어컨|TV|DVD|오디오|홈시어터|정수기|공기청정기|음향기기|히터|전기요|가습기|밥솥|청소기|전기포트|믹서|조리기|소형음향기기|카메라|전화기|이동통신|PC|컴퓨터|전기면도기|하이패스|전자악기|MP3|전자학습기|냉장고|세탁기|선풍기|가전|디지털"),'중분류명'] = '디지털/가전'
procl.loc[procl['소분류명'].str.contains(r"헤어드라이어|헤어세팅기"),'중분류명'] = '디지털/가전'
#가구
procl.loc[procl['중분류명'].str.contains(r"수예|매트|전구|그릇|침구|커튼|수예|조명|가구|테이블|의자|퍼니처|벽지"),'중분류명'] = '가구/인테리어'
procl.loc[procl['소분류명'].str.contains(r"교자상|다용도상"),'중분류명'] = '가구/인테리어'
#스포츠
procl.loc[procl['중분류명'].str.contains(r"레저취미|SPORTS|스키|등산|낚시|수영복|롤러보드|자전거|골프|스포츠"),'중분류명'] = '전문스포츠/레저'
#패션잡화
procl.loc[procl['중분류명'].str.contains(r"아동슈즈|양산|피트니스|액세서리|피혁잡화|구두|복합샵|시즌잡화|슈즈|스타킹|드레스화브랜드|슈즈행사|샌들슬리퍼|NB구두|운동화|준보석|시계|액세서리|피혁브랜드|가방브랜드|잡화멀티샵|미입점행사|지갑|벨트|핸드백|가방|피혁토탈|모자|스카프|장갑|시즌토탈|썬글라스|양말|우산"),'중분류명'] = '패션잡화'
procl.loc[procl['소분류명'].str.contains(r"선글라스|피혁"),'중분류명'] = '패션잡화'
#의류
procl.loc[procl['중분류명'].str.contains(r"섬유잡화|캐주얼|커리어|트래디셔널|시티웨어|내의|블라우스|기타의류|디자이너|모피|피혁|남성정장|남성캐주얼|교복|셔츠|트랜디|병행수입|수입브랜드|마담|덧신|내의|란제리|웨어|주니어|의류|캐주얼|스트리트|정장|남성|남아|여성|여아|아동"),'중분류명'] = '의류'
#유아용품
procl.loc[procl['중분류명'].str.contains(r"아동|GIRLS|BOYS|베이비|BABY|유아"),'중분류명'] = '유아용품'
#명품
procl.loc[procl['중분류명'].str.contains(r"보석|준보석|명품"),'중분류명'] = '명품'
#기타
procl.loc[procl['중분류명'].str.contains(r"브랜드|기타|웨딩|데일리처분|균일가|파티|시즌행사|영상|동물병원|카시트|캠핑|여행|TRAVEL"),'중분류명'] = '기타'
procl.loc[procl['소분류명'].str.contains(r'일반브랜드'), '중분류명'] = '기타'

procl.중분류명.unique()
procl.중분류명.value_counts()

가공식품        2047
일상용품        1038
의류           273
전문스포츠/레저     207
패션잡화         197
디지털/가전       174
가구/인테리어      127
외식           111
교육/문화용품       64
기타            51
유아용품          44
명품            27
의약품/의료기기      26
Name: 중분류명, dtype: int64

In [12]:
procl.head()

  제휴사  대분류코드  중분류코드    소분류코드  중분류명  소분류명
0   A      1    101  A010101  일상용품  위생세제
1   A      1    101  A010102  일상용품   휴지류
2   A      1    101  A010103  일상용품  뷰티상품
3   A      1    101  A010104  일상용품  일용잡화
4   A      1    101  A010105  일상용품  세트상품

In [4]:
purprd.head()

  제휴사    영수증번호  대분류코드  중분류코드    소분류코드   고객번호  점포코드      구매일자  구매시간  구매금액
0   B  8664000     15   1504  B150401  17218    44  20140222    20  2420
1   B  8664000     16   1601  B160101  17218    44  20140222    20  1070
2   B  8664000     16   1602  B160201  17218    44  20140222    20  8060
3   B  8664000     18   1803  B180301  17218    44  20140222    20  6000
4   B  8664001      5    509  B050901  17674    44  20140222    22  1120

In [24]:
pur_pro = pd.merge(purprd, procl, how='left',on='소분류코드')
pur_pro.head()

,제휴사_x,영수증번호,대분류코드_x,중분류코드_x,소분류코드,고객번호,점포코드,구매일자,구매시간,구매금액,제휴사_y,대분류코드_y,중분류코드_y,중분류명,소분류명
0,B,8664000,15,1504,B150401,17218,44,20140222,20,2420,B,15,1504,가공식품,사이다
1,B,8664000,16,1601,B160101,17218,44,20140222,20,1070,B,16,1601,가공식품,병소주
2,B,8664000,16,1602,B160201,17218,44,20140222,20,8060,B,16,1602,가공식품,국산맥주
3,B,8664000,18,1803,B180301,17218,44,20140222,20,6000,B,18,1803,일상용품,생리대
4,B,8664001,5,509,B050901,17674,44,20140222,22,1120,B,5,509,가공식품,친환경쌈채소

In [25]:
pur_pro.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28593030 entries, 0 to 28593029
Data columns (total 15 columns):
 #   Column   Dtype
---  ------   -----
 0   제휴사_x    object
 1   영수증번호    int64
 2   대분류코드_x  int64
 3   중분류코드_x  int64
 4   소분류코드    object
 5   고객번호     int64
 6   점포코드     int64
 7   구매일자     int64
 8   구매시간     int64
 9   구매금액     int64
 10  제휴사_y    object
 11  대분류코드_y  int64
 12  중분류코드_y  int64
 13  중분류명     object
 14  소분류명     object
dtypes: int64(10), object(5)
memory usage: 3.4+ GB

In [26]:
print(pur_pro.제휴사_x.value_counts())
print('-----------------------------------')
print(pur_pro.제휴사_y.value_counts())

B    13338074
C     9379236
A     5770318
D      105402
Name: 제휴사_x, dtype: int64
-----------------------------------
B    13338074
C     9379236
A     5770318
D      105402
Name: 제휴사_y, dtype: int64

In [27]:
print(pur_pro.대분류코드_x.value_counts())
print('-----------------------------------')
print(pur_pro.대분류코드_y.value_counts())

1     4461964
3     1983496
15    1750000
5     1408560
14    1366885
       ...
42       1437
41        976
85        554
40        347
39        131
Name: 대분류코드_x, Length: 92, dtype: int64
-----------------------------------
1     4461964
3     1983496
15    1750000
5     1408560
14    1366885
       ...
42       1437
41        976
85        554
40        347
39        131
Name: 대분류코드_y, Length: 92, dtype: int64

In [28]:
print(pur_pro['중분류코드_x'].value_counts())
print('-----------------------------------')
print(pur_pro.중분류코드_y.value_counts())

106     1260893
104      829651
101      726711
402      597686
102      543754
         ...
4211          1
4213          1
7705          1
3904          1
4805          1
Name: 중분류코드_x, Length: 656, dtype: int64
-----------------------------------
106     1260893
104      829651
101      726711
402      597686
102      543754
         ...
4211          1
4213          1
7705          1
3904          1
4805          1
Name: 중분류코드_y, Length: 656, dtype: int64

In [22]:
infl = pur_pro.copy()

In [23]:
infl.head()

,제휴사_x,영수증번호,대분류코드_x,중분류코드_x,소분류코드,고객번호,점포코드,구매일자,구매시간,구매금액,제휴사_y,대분류코드_y,중분류코드_y,중분류명,소분류명
0,B,8664000,15,1504,B150401,17218,44,20140222,20,2420,B,15,1504,가공식품,사이다
1,B,8664007,15,1504,B150401,11303,44,20140222,13,2400,B,15,1504,가공식품,사이다
2,B,8919520,15,1504,B150401,13210,48,20150921,19,5250,B,15,1504,가공식품,사이다
3,B,6956422,15,1504,B150401,13823,12,20140813,18,2250,B,15,1504,가공식품,사이다
4,B,6957156,15,1504,B150401,18970,12,20140831,22,4900,B,15,1504,가공식품,사이다

In [29]:
infl.drop(['제휴사_y','대분류코드_y','중분류코드_y'], axis=1, inplace=True)
infl.head()

KeyboardInterrupt:

In [30]:
infl.head()

,제휴사_x,영수증번호,대분류코드_x,중분류코드_x,소분류코드,고객번호,점포코드,구매일자,구매시간,구매금액,중분류명,소분류명
0,B,8664000,15,1504,B150401,17218,44,20140222,20,2420,가공식품,사이다
1,B,8664007,15,1504,B150401,11303,44,20140222,13,2400,가공식품,사이다
2,B,8919520,15,1504,B150401,13210,48,20150921,19,5250,가공식품,사이다
3,B,6956422,15,1504,B150401,13823,12,20140813,18,2250,가공식품,사이다
4,B,6957156,15,1504,B150401,18970,12,20140831,22,4900,가공식품,사이다

In [35]:
infl.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28593030 entries, 0 to 28593029
Data columns (total 12 columns):
 #   Column   Dtype
---  ------   -----
 0   제휴사_x    object
 1   영수증번호    int64
 2   대분류코드_x  int64
 3   중분류코드_x  int64
 4   소분류코드    object
 5   고객번호     int64
 6   점포코드     int64
 7   구매일자     int64
 8   구매시간     int64
 9   구매금액     int64
 10  중분류명     object
 11  소분류명     object
dtypes: int64(8), object(4)
memory usage: 3.8+ GB

In [41]:
infl.head()

,제휴사_x,영수증번호,대분류코드_x,중분류코드_x,소분류코드,고객번호,점포코드,구매일자,구매시간,구매금액,중분류명,소분류명
0,B,8664000,15,1504,B150401,17218,44,20140222,20,2420,가공식품,사이다
1,B,8664007,15,1504,B150401,11303,44,20140222,13,2400,가공식품,사이다
2,B,8919520,15,1504,B150401,13210,48,20150921,19,5250,가공식품,사이다
3,B,6956422,15,1504,B150401,13823,12,20140813,18,2250,가공식품,사이다
4,B,6957156,15,1504,B150401,18970,12,20140831,22,4900,가공식품,사이다

In [45]:
infl['구매14'] = infl[infl['구매일자']< 20150101]
infl.head()

ValueError: Expected a 1D array, got an array with shape (28593030, 12)

### 물가상승률 반영 함수

In [31]:
def inflation_rate(df):
    price=0
    
    if df['중분류명'] in ['가공식품','신선식품']:
        price = df['구매금액']*1.016
    elif df['중분류명'] in ['외식']:
        price = df['구매금액']*1.023
    elif df['중분류명'] in ['일상용품', '디지털/가전', '가구/인테리어', '유아용품']:
        price = df['구매금액']*1.026
    elif df['중분류명'] in ['의약품/의료기기']:
        price = df['구매금액']*1.013
    elif df['중분류명'] in ['교육/문화용품']:
        price = df['구매금액']*1.017
    elif df['중분류명'] in ['기타', '명품']:
        price = df['구매금액']*1.027
    elif df['중분류명'] in ['의류','패션잡화']:
        price = df['구매금액']*1.013
    elif df['중분류명'] in ['전문스포츠/레저']:
        price = df['구매금액']*0.995
    else:
        price = df['구매금액']*1.007
    return price

In [ ]:
def inflation_rate(row):
    price=0
    
    if row['중분류명'] in ['가공식품','신선식품']:
        price = row['구매금액']*1.016
    elif row['중분류명'] in ['외식']:
        price = row['구매금액']*1.023
    elif row['중분류명'] in ['일상용품', '디지털/가전', '가구/인테리어', '유아용품']:
        price = row['구매금액']*1.026
    elif row['중분류명'] in ['의약품/의료기기']:
        price = row['구매금액']*1.013
    elif row['중분류명'] in ['교육/문화용품']:
        price = row['구매금액']*1.017
    elif row['중분류명'] in ['기타', '명품']:
        price = row['구매금액']*1.027
    elif row['중분류명'] in ['의류','패션잡화']:
        price = row['구매금액']*1.013
    elif row['중분류명'] in ['전문스포츠/레저']:
        price = row['구매금액']*0.995
    else:
        price = row['구매금액']*1.007
    return price

In [40]:
infl['물가반영금액']=infl.apply(lambda x: inflation_rate(x), axis=1)

KeyboardInterrupt:

In [ ]:
0.016
1 - 0.005
0.9 90%
0.01 1*
1.016