In [2]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [16]:
# 한글폰트 적용
import matplotlib.pyplot as plt
plt.rc("font",family="AppleGothic")

#마이너스 기호 깨짐 방지
plt.rcParams['axes.unicode_minus']=False

In [17]:
competitor = pd.read_csv('./data/경쟁사이용.txt', encoding='euc-kr', sep=',')
competitor

        고객번호 제휴사  경쟁사    이용년월
0          2   D  D02  201507
1         51   D  D01  201504
2         77   D  D02  201503
3         77   D  D02  201506
4         77   D  D02  201507
...      ...  ..  ...     ...
28154  19375   B  B01  201501
28155  19375   B  B01  201507
28156  19375   C  C03  201511
28157  19376   B  B01  201506
28158  19377   B  B01  201504

[28159 rows x 4 columns]

In [18]:
demo = pd.read_csv('./data/고객DEMO.txt', encoding='euc-kr', sep=',')
demo

        고객번호 성별      연령대   거주지역
0          1  M    60세이상   60.0
1          2  M    60세이상  100.0
2          3  M    60세이상   33.0
3          4  F    60세이상   16.0
4          5  M    60세이상  100.0
...      ... ..      ...    ...
19378  19379  F  20세~24세   69.0
19379  19380  F  20세~24세   39.0
19380  19381  F  40세~44세  460.0
19381  19382  F  45세~49세  460.0
19382  19383  F  25세~29세  500.0

[19383 rows x 4 columns]

In [19]:
membership = pd.read_csv('./data/멤버십여부.txt', encoding='euc-kr', sep=',')
membership

       고객번호  멤버십명    가입년월
0        11  하이마트  201512
1        21  하이마트  201506
2        37  하이마트  201306
3        43  하이마트  201403
4        44  하이마트  201411
...     ...   ...     ...
7451  19377    롭스  201411
7452  19379    롭스  201412
7453  19380    롭스  201412
7454  19381   다둥이  201506
7455  19383    롭스  201507

[7456 rows x 3 columns]

In [3]:
procl = pd.read_csv('./data/상품분류.txt', encoding='euc-kr', sep=',')
procl

     제휴사  대분류코드  중분류코드    소분류코드    중분류명      소분류명
0      A      1    101  A010101    일용잡화      위생세제
1      A      1    101  A010102    일용잡화       휴지류
2      A      1    101  A010103    일용잡화      뷰티상품
3      A      1    101  A010104    일용잡화      일용잡화
4      A      1    101  A010105    일용잡화      세트상품
...   ..    ...    ...      ...     ...       ...
4381   D      8    802  D080204  아이메이크업     아이섀도우
4382   D      8    802  D080205  아이메이크업    메이크업세트
4383   D      8    803  D080301   립메이크업  립스틱/립라이너
4384   D      8    803  D080302   립메이크업   립글로즈/틴트
4385   D      8    804  D080401  네일메이크업  일반네일/케어류

[4386 rows x 6 columns]

In [11]:
A = procl.loc[procl['제휴사']=='A']
A.head()

  제휴사  대분류코드  중분류코드    소분류코드  중분류명  소분류명
0   A      1    101  A010101  일용잡화  위생세제
1   A      1    101  A010102  일용잡화   휴지류
2   A      1    101  A010103  일용잡화  뷰티상품
3   A      1    101  A010104  일용잡화  일용잡화
4   A      1    101  A010105  일용잡화  세트상품

In [24]:
A['중분류명'].value_counts()

의류          204
전문스포츠/레저    131
가공식품         70
신선식품         50
일상용품         47
명품           28
패션잡화         24
디지털/가전       21
가구/인테리어      20
유아용품         14
기타           13
교육/문화용품       5
의약품/의료기기      3
Name: 중분류명, dtype: int64

In [21]:
data = A['중분류명'].unique()
data

array(['일용잡화', '육류', '가공식품', '농산물', '수산품', '젓갈/반찬', '건강식품', '기타', '섬유잡화',
       '액세서리', '화장품', '보석', '준보석/시계', '피혁잡화', '구두', '아동', '캐주얼', '커리어',
       '트래디셔널', '시티웨어', '란제리/내의', '블라우스', '기타의류', '디자이너', '모피/피혁', '남성정장',
       '남성캐주얼', '교복', '셔츠', '남성 트랜디', '스포츠', '골프용품', '대형가전', '소형가전',
       '통신/컴퓨터', '악기', '전자/전기', '주방가전', '명품', '주방용품', '문구/팬시', '생활잡화',
       '식기', '가구', '침구/수예', '웨딩'], dtype=object)

In [17]:
A['중분류명'].to_list()

['일용잡화',
 '일용잡화',
 '일용잡화',
 '일용잡화',
 '일용잡화',
 '일용잡화',
 '육류',
 '육류',
 '육류',
 '육류',
 '육류',
 '육류',
 '육류',
 '축산가공',
 '축산가공',
 '축산가공',
 '축산가공',
 '축산가공',
 '축산가공',
 '농산물',
 '농산물',
 '농산물',
 '농산물',
 '농산물',
 '농산물',
 '농산물',
 '농산물',
 '농산물',
 '농산물',
 '농산물',
 '농산물',
 '농산물',
 '농산물',
 '수산품',
 '수산품',
 '수산품',
 '수산품',
 '수산품',
 '수산품',
 '수산품',
 '수산품',
 '수산품',
 '수산품',
 '수산품',
 '수산품',
 '수산품',
 '수산품',
 '수산품',
 '수산품',
 '수산품',
 '수산품',
 '수산품',
 '수산품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '가공식품',
 '젓갈/반찬',
 '젓갈/반찬',
 '젓갈/반찬',
 '젓갈/반찬',
 '젓갈/반찬',
 '젓갈/반찬',
 '젓갈/반찬',
 '젓갈/반찬',
 '젓갈/반찬',
 '건강식품',
 '건강식품',
 '건강식품',
 '주류',
 '주류',
 '주류',
 '주류',
 '주류',
 '차/커피',
 '차/커피',
 '차/커피',
 '차/커피',
 '기타',
 '기타',
 '기타',
 '기타',
 '기타',
 '기타',
 '기타',
 '기타',
 '기타',
 '섬유잡화',
 '섬유잡화',
 '섬유잡화',
 '섬유잡화',
 '섬유잡화',
 '섬유잡화',
 '섬유잡화',
 '섬유잡화',
 '섬유잡화',
 '섬유잡화',
 '섬유잡화',
 '섬유잡화',
 '섬유잡화',
 '섬유잡화',
 '섬유잡화',
 '섬유잡화',
 '액세서리',
 '액세서리',
 '액세서리',
 '액세서리',
 '액세서리',
 '액세서리',
 '액세서리',
 '액세서리',
 '액세서리',
 '액세서리',
 '액세서리',
 '액세서리',
 '액세서리',
 '액세서리',
 '화장품',
 '화장품',
 '화장품',
 '화장품',
 '화장품',
 '화장품',
 '화장품',
 '화장품',
 '화장품',
 '화장품',
 '화장품',
 '화장품',
 '보석',
 '보석',
 '준보석/시계',
 '피혁잡화',
 '피혁잡화',
 '피혁잡화',
 '피혁잡화',
 '피혁잡화',
 '피혁잡화',
 '피혁잡화',
 '피혁잡화',
 '피혁잡화',
 '구두',
 '구두',
 '구두',
 '구두',
 '구두',
 '구두',
 '구두',
 '구두',
 '구두',
 '구두',
 '아동',
 '아동',
 '아동',
 '아동',
 '아동',
 '아동',
 '아동',
 '아동',
 '아동',
 '아동',
 '아동',
 '아동',
 '아동',
 '아동',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '캐주얼',
 '커리어',
 '커리어',
 '커리어',
 '커리어',
 '커리어',
 '커리어',
 '커리어',
 '커리어',
 '트래디셔널',
 '시티웨어',
 '시티웨어',
 '시티웨어',
 '시티웨어',
 '란제리/내의',
 '란제리/내의',
 '란제리/내의',
 '란제리/내의',
 '블라우스',
 '기타의류',
 '기타의류',
 '기타의류',
 '디자이너',
 '디자이너',
 '디자이너',
 '모피/피혁',
 '모피/피혁',
 '모피/피혁',
 '모피/피혁',
 '남성정장',
 '남성정장',
 '남성정장',
 '남성정장',
 '남성정장',
 '남성정장',
 '남성정장',
 '남성정장',
 '남성정장',
 '남성정장',
 '남성정장',
 '남성정장',
 '남성정장',
 '남성정장',
 '남성정장',
 '남성정장',
 '남성캐주얼',
 '남성캐주얼',
 '남성캐주얼',
 '남성캐주얼',
 '남성캐주얼',
 '남성캐주얼',
 '남성캐주얼',
 '남성캐주얼',
 '남성캐주얼',
 '남성캐주얼',
 '남성캐주얼',
 '남성캐주얼',
 '남성캐주얼',
 '남성캐주얼',
 '남성캐주얼',
 '남성캐주얼',
 '남성캐주얼',
 '남성캐주얼',
 '남성캐주얼',
 '남성캐주얼',
 '남성캐주얼',
 '남성캐주얼',
 '남성캐주얼',
 '남성캐주얼',
 '남성캐주얼',
 '남성캐주얼',
 '남성캐주얼',
 '남성캐주얼',
 '남성캐주얼',
 '남성캐주얼',
 '트래디셔널',
 '트래디셔널',
 '트래디셔널',
 '트래디셔널',
 '트래디셔널',
 '트래디셔널',
 '트래디셔널',
 '트래디셔널',
 '트래디셔널',
 '트래디셔널',
 '트래디셔널',
 '트래디셔널',
 '교복',
 '셔츠',
 '셔츠',
 '셔츠',
 '셔츠',
 '남성 트랜디',
 '남성 트랜디',
 '남성 트랜디',
 '남성 트랜디',
 '남성 트랜디',
 '남성 트랜디',
 '남성 트랜디',
 '남성 트랜디',
 '남성 트랜디',
 '남성 트랜디',
 '남성 트랜디',
 '남성 트랜디',
 '남성 트랜디',
 '남성 트랜디',
 '남성 트랜디',
 '남성 트랜디',
 '남성 트랜디',
 '남성 트랜디',
 '남성 트랜디',
 '남성 트랜디',
 '남성 트랜디',
 '남성 트랜디',
 '남성 트랜디',
 '남성 트랜디',
 '남성 트랜디',
 '남성 트랜디',
 '남성 트랜디',
 '남성 트랜디',
 '남성 트랜디',
 '남성 트랜디',
 '남성 트랜디',
 '남성 트랜디',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '스포츠',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '골프용품',
 '대형가전',
 '대형가전',
 '대형가전',
 '대형가전',
 '대형가전',
 '소형가전',
 '소형가전',
 '소형가전',
 '통신/컴퓨터',
 '통신/컴퓨터',
 '통신/컴퓨터',
 '통신/컴퓨터',
 '악기',
 '악기',
 '악기',
 '전자/전기',
 '주방가전',
 '주방가전',
 '주방가전',
 '주방가전',
 '주방가전',
 '주방가전',
 '주방가전',
 '주방가전',
 '명품',
 '명품',
 '명품',
 '명품',
 '명품',
 '명품',
 '명품',
 '명품',
 '명품',
 '명품',
 '명품',
 '명품',
 '명품',
 '명품',
 '명품',
 '명품',
 '명품',
 '명품',
 '명품',
 '명품',
 '명품',
 '명품',
 '명품',
 '명품',
 '명품',
 '주방용품',
 '주방용품',
 '주방용품',
 '주방용품',
 '주방용품',
 '주방용품',
 '주방용품',
 '주방용품',
 '주방용품',
 '주방용품',
 '문구/팬시',
 '문구/팬시',
 '생활잡화',
 '생활잡화',
 '생활잡화',
 '생활잡화',
 '생활잡화',
 '생활잡화',
 '생활잡화',
 '생활잡화',
 '생활잡화',
 '생활잡화',
 '생활잡화',
 '생활잡화',
 '식기',
 '식기',
 '식기',
 '식기',
 '식기',
 '식기',
 '식기',
 '가구',
 '가구',
 '가구',
 '가구',
 '가구',
 '가구',
 '가구',
 '가구',
 '가구',
 '가구',
 '침구/수예',
 '침구/수예',
 '침구/수예',
 '침구/수예',
 '침구/수예',
 '침구/수예',
 '침구/수예',
 '침구/수예',
 '침구/수예',
 '침구/수예',
 '웨딩']

In [35]:
B = procl.loc[procl['제휴사']=='B']
B.head()

    제휴사  대분류코드  중분류코드    소분류코드  중분류명    소분류명
630   B      1    101  B010101  열매채소      가지
631   B      1    101  B010102  열매채소      고추
632   B      1    101  B010103  열매채소   구색 호박
633   B      1    101  B010104  열매채소  기타열매채소
634   B      1    101  B010105  열매채소     단호박

In [12]:
B['중분류명'].unique()

array(['열매채소', '버섯', '온라인버섯/열매채소', '조리반찬', '시즌반찬', '포장젓갈', '포장반찬', '양곡',
       '잡곡류', '즉석도정미', '가공양곡', '잎채소', '뿌리채소', '버섯류', '샐러드채소', '약초', '양념류',
       '식자재', '친환경채소', '김치채소', '온라인잎/샐러드채소', 'LOCAL잎채소', 'LOCAL김치채소',
       '샐러드/간편채소', '대중선어', '냉동수산물', '생선선물세트', '고등어/삼치', '대구', '도미/민어',
       '기타구색생선', '꽁치/가자미', '오징어', '조기/명태', '국산게/갈치', '선물세트', '즉석구이안주',
       '마른안주', '멸치건명태', '해조류', '특산물', '건오징어', '조미오징어', '육포', '쥐치포',
       '마른안주선물세트', 'Fast Food', '편의시설', '레스토랑', '카페', '판매시설', '주유소',
       '브랜드조리', '베이커리', '구이', '튀김', '밥류', '구이찜조리', '반찬류', '대용식', '이벤트조리',
       '간식조리', '간편조리', '튀김조리', '피자', '냉장음료', '데일리처분', '흰우유', '가공우유',
       '요구르트', '유제품', '브랜드빵', '치즈', '디저트', '유가공', '조미료', '소스류', '장류',
       '식용유지', '조미선물세트', '가루', '향신료', '액상조미료', '복합조미료', '소금/설탕류', '수입조미',
       '간편조리식품', '라면', '면류', '분유', '잼', '통조림', '인스턴트선물세트', '이유식/유아간식',
       '두유', '커피', '차', '건강식품', '담배', '인스턴트커피', '원두커피', '커피선물세트', '시즌차',
       '차선물세트', '꿀', '스낵', '비스켓', '파이', '시리얼', '캔디', '초콜릿', '껌', '안주',
       '한과', '프리미엄과자', '간식용과자', '수입과자', '종합과자', '전통과자', '생수', '과채음료',
       '탄산음료', '이온음료', '커피차음료', '기능성음료', '수입음료', '소주', '맥주', '와인', '전통주',
       '양주', '세탁세제', '주거세제', '주방세제', '섬유유연제', '표백제', '살충제', '탈취제', '제습제',
       '기저귀', '화장지', '생리대', '유아세제', '유아위생용품', '시니어위생용품', '여성위생용품', '키친타올',
       '물티슈', '미용티슈', '구강용품', '헤어스타일링', '면도용품', '바디용품', '스킨케어', '개인위생용품',
       'H&B선물세트', '일반헤어케어', '기능헤어케어', '그릇/수저', '음식조리', '음식저장/보관', '주방정리',
       '야외용품', '주방시즌/균일가', '야외/시즌용품', '균일가', '청소용품', '세탁용품', '수납용품',
       '욕실용품', '휴지통', '밀대/걸레', '청소편의도구', '종량제봉투', '소가구', '장식용품', '의자/상',
       '조명/전구', '보수용품', '건전지', '가구/인테리어샵', '테이블', '의자', '상', '제기용품',
       '아웃도어퍼니처', '벽지류', '가구', '성인침구류', '수예소품', '커튼류', '수예시즌', '아동침구류',
       '예능학용품', '노트/지류', '필기도구', '오피스용품', '파티/팬시/시즌', '미술용품', '교육보조재',
       '파티/팬시', '노트', '시즌행사', '일반서적', '음반', '유/아동서적', '영상', '서적', '음반영상',
       'BABY/INFANT', 'GIRLS', '교육', 'VIDEOGAME', '남아', 'SPORTS/OUTDOOR',
       'EDUCATION 1', 'EDUCATION 2', 'BOYS 1', 'BOYS 2', '애완/동물용품',
       '원예용품', '애견용품', '덴탈케어', '고양이용품', '동물병원', '수족관용품', '자동차 정비용품',
       '자동차 청소용품', '카시트/매트', '자동차처분', '자동차 액세서리', '교환/보수용품', '세차용품',
       '자동차방향제/소취제', '자동차 편의용품', '자동차장식용품', '휴대폰용품', '장착용품', '오토바이용품',
       '스트리트편집샵', '행사', '이지캐주얼브랜드', '여성캐주얼브랜드', '비즈니스정장', '시티캐주얼', '복합샵',
       '남성브랜드', '남성행사', '남성시즌행사', '유아브랜드', '아동복합샵', '아동브랜드', '아동행사',
       '유아동용품', '유아용품', '유아토들러', '주니어스포츠', '주니어웨어', '유아동PB', '유아동NPB',
       '유아동특정', '성인내의', '란제리', '양말', '홈웨어', '스타킹', '란제리브랜드', '아동내의',
       '언더웨어행사', '국내화장품', '미용잡화', '수입브랜드', '화장품브랜드샵', '스키', '등산', '낚시',
       '수영복', '윈터스포츠', '워터스포츠', '스포츠웨어', '롤러보드', '구기용품', '헬스용품', '자전거',
       '스포츠ACC', '라켓스포츠', '시니어건강용품', '스포츠의류', '분식', '양식', '일식', '중식',
       '한식', '패스트푸드', '푸드코트', '컨세션', '해초류', '나물', '콩나물', '두부', '간편채소',
       '묵', '즉석참기름', '묵/즉석참기름', '냉장고', '세탁기', 'TV', 'DVD', '오디오', '홈시어터',
       '김치냉장고', '정수기', '공기청정기', '에어컨', '선풍기', '히터기', '전기요/장판', '가습기',
       '건강가전', '밥솥', '주방소형가전', '청소기', '전기포트', '믹서기', '생활소형가전', '커피메이커/머신',
       '기타주방가전', '조리기', '소형음향기기', '카메라/캠코더', '전화기/팩스', '이동통신', 'PC',
       '컴퓨터주변기기', '전기면도기', '건강디지털기기', 'NAVI/하이패스', '기타음향기기', '전자악기',
       'MP3/PMP', '전자학습기', '어묵맛살', '냉장면류', '햄소시지', '냉장반찬', '냉동만두', '냉동간식',
       '냉동대용식', '아이스크림', '햄', '소시지', '냉장햄세트', '드레스화브랜드', '캐주얼화브랜드',
       '아동화브랜드', '슈즈행사', '남성구두', '여성구두', '샌들슬리퍼', 'NB구두', '운동화', '준보석',
       '시계', '액세서리', '피혁브랜드', '가방브랜드', '잡화멀티샵', '미입점행사', '지갑', '벨트',
       '핸드백', '가방', '피혁토탈', '모자', '우산/양산', '스카프', '장갑', '시즌토탈', '썬글라스',
       '여행용품', '우육', '수입육', '일반한우', '한우선물세트', '브랜드한우', '닭고기', '계란',
       '오리고기', '양념육', '돼지고기', '브랜드돼지고기', '차별화돼지고기', '온라인돼지고기', '마담/어덜트',
       '미시캐주얼', '여성베이직', '여성이지캐주얼', '여성PB', '여성NPB', '여성특정', '병행수입',
       '남성베이직', '남성스포츠', '남성어덜트캐주얼', '남성이지캐주얼', '남성스포츠PB', '남성스포츠NPB',
       '남성스포츠특정', '스포츠브랜드편집', '스포츠NB', '골프', '브랜드', '과실과일', '과채과일',
       '친환경과일', '감귤', '감', '복숭아', '자두', '토마토', '포도', '참외', '수박', '딸기',
       '메론', '수입감귤과일', '수입기타과일', '열대과일', '키위/석류', '포도/체리', '오렌지과일선물세트',
       '오렌지', '자몽', '오렌지과일기타', '석류', '레몬', '생선회', '해물연체류', '간편조리생선',
       '생선초밥', '기타회', '건과', '건강선물세트', '냉동가공', '생활한방', '한방식재류', '한방차',
       '김/초밥', '도시락', '선식', '떡', '족발', '순대', '단무지류', '김치류', '젓갈류',
       '브랜드푸드몰', '빵', '반찬', '전통간식', '먹거리', '먹거리행사', '맛집행사', '즉석구이김',
       '특산물행사', '블루베리', '체리', '수입포도', '냉동과일', '열대과일기타', '바나나', '파인애플',
       '망고', '키위', '열대과일선물세트', '남성용품', '바디케어', '훼이셜케어', '베이비케어', '풋/핸드케어',
       '미용소품', '아로마', '간식', '남성양말', '여성양말', '아동양말', '덧신', '주니어양말',
       '양말선물세트', '온라인양말', '시즌슈즈', '스포츠슈즈', '아동슈즈', '캐주얼슈즈', '슈즈용품',
       '지갑/벨트', 'TRAVEL', '시즌잡화', '캠핑', '잡곡', '온라인잡곡선식', '포장반찬HMR',
       '냉동HMR', '냉장간편식HMR', '냉장식사HMR', '간편요리', '밥죽류', '비타민', '기능성건강',
       '홍인삼', '수입연어', '수입고등어', '수입갈치', '수입게', '수입기타생선', '냉동규격생선',
       '냉동규격해물', '규격생선선물세트', '냉장규격생선', '온라인규격/간편조리생선', '규격RTC', '간편조리행사',
       '굴비', '반건생선', '굴비/반건생선선물세트', '해초', '조개', '조개살', '연체', '새우',
       '해물선물세트', '온라인해물연체', '멸치', '천연조미료', '황태', '미역/다시마', '멸치황태미역선물세트',
       '마른김', '조미김', '김가공품', '김선물세트', '미국산소고기', '호주산소고기', '수입육선물세트',
       '수입돼지고기', '기타국소고기', '육가공품', '유아식기', '조리용기', '조리도구', '주방가전',
       '시즌/건강가전', '패브릭욕실용품', '매트', '프리미엄매트', '일반욕실용품', 'DIY욕실용품', '수도용품',
       '조명기구', '전구', '전기용품', '안전용품', '공구', '브랜드침구', '성인침구', '아동침구', '가공란',
       '기초화장품', '색조화장품', '드럭스토어', '온라인화장품', '양념채소', '온라인양념/뿌리채소', '사과',
       '배', '국산과일선물세트', '온라인저장과일', '구색과일', '밤'], dtype=object)

In [13]:
C = procl.loc[procl['제휴사']=='C']
C.head()

     제휴사  대분류코드  중분류코드    소분류코드  중분류명   소분류명
3254   C      1    101  C010101  국산과일     사과
3255   C      1    101  C010102  국산과일      배
3256   C      1    101  C010103  국산과일      감
3257   C      1    101  C010104  국산과일     귤류
3258   C      1    101  C010105  국산과일  유자/모과

In [14]:
C['중분류명'].unique()

array(['국산과일', '수입과일', '냉동과일', '건과일', '견과류', '양곡', '잡곡', '선식류', '엽채류',
       '과채류', '근채류', '두채류', '김치채소류', '버섯류', '양채류', '나물류', '계란류', '선어류',
       '선어가공', '건어류', '건어가공', '해물류', '기타수산', '국내산우육', '국내산돈육', '국내산계육',
       '수입우육', '수입돈육', '기타축산', '반찬류', '간편간식', '식사류', '베이커리', '기타조리식품',
       '우유', '발효유', '치즈버터', '냉장음료', '냉장농산', '냉장수산', '냉장축산', '아이스크림', '만두',
       '냉장간식MS', '냉장식사MS', '냉장기타MS', '냉동MS', '생수', '탄산음료', '과채음료', '커피음료',
       '차음료', '기능성음료', '두유', '소주', '맥주', '와인', '양주', '전통주', '기타음주류',
       '병통조림', '커피류', '담배', '분유', '차류', '건강식품', '즉석식품', '가공건식품', '장류',
       '식용유', '조미료', '케첩마요네즈', '감미료', '가공분말류', '라면', '건면', '쿠키케이크', '스낵',
       '캔디껌류', '초콜렛', '전통과자', '씨리얼', '세탁세제', '화장지', '주방주거세제', '유아용품',
       '화장품', '두발용품', '생리용품', '구강용품', '위생용품', '주방용품', '청소욕실용품', '전기전자',
       '의류잡화', '레저취미', '문화용품', '가정잡화'], dtype=object)

In [15]:
D = procl.loc[procl['제휴사']=='D']
D.head()

     제휴사  대분류코드  중분류코드    소분류코드   중분류명    소분류명
4241   D      1    101  D010101  베이직케어   스킨/토너
4242   D      1    101  D010102  베이직케어     미스트
4243   D      1    101  D010103  베이직케어  에멀젼/로션
4244   D      1    101  D010104  베이직케어  에센스/세럼
4245   D      1    101  D010105  베이직케어    아이케어

In [16]:
D['중분류명'].unique()

array(['베이직케어', '선케어', '클렌징', '집중케어', '남성케어', '베이비케어', '헤어케어', '바디케어',
       '핸드/풋케어', '구강케어', '여성용품', '피트니스', '건강기능식품', '일반의약외품', '과자', '음료',
       '화장지/티슈', '방향/제습/탈취제', '기기', '미용소품', '양말류', '우산/양산류', '파티/팬시용품',
       '전기용품', '안전용품', '여행용품', '계절팩', '여성', '남성', '베이스메이크업', '아이메이크업',
       '립메이크업', '네일메이크업'], dtype=object)

In [23]:
A.loc[A['중분류명'].str.contains(r"축산가공|가공식품|주류|차/커피"),'중분류명'] = '가공식품'
A.loc[A['중분류명'].str.contains(r"육류|농산물|수산품|반찬"),'중분류명'] = '신선식품'
A.loc[A['중분류명'].str.contains(r"주방용품|생활잡화|식기|일용잡화|화장품"),'중분류명'] = '일상용품'
A.loc[A['중분류명'].str.contains(r"건강식품"),'중분류명'] = '의약품/의료기기'
A.loc[A['중분류명'].str.contains(r"악기|팬시"),'중분류명'] = '교육/문화용품'
A.loc[A['중분류명'].str.contains(r"기타|웨딩"),'중분류명'] = '기타'
A.loc[A['중분류명'].str.contains(r"대형가전|소형가전|컴퓨터|전자|주방가전"),'중분류명'] = '디지털/가전'
A.loc[A['중분류명'].str.contains(r"가구|수예"),'중분류명'] = '가구/인테리어'
A.loc[A['중분류명'].str.contains(r"섬유잡화|캐주얼|커리어|트래디셔널|시티웨어|내의|블라우스|기타의류|디자이너|모피|피혁|남성정장|남성캐주얼|교복|셔츠|트랜디"),'중분류명'] = '의류'
A.loc[A['중분류명'].str.contains(r"스포츠|골프용품"),'중분류명'] = '전문스포츠/레저'
A.loc[A['중분류명'].str.contains(r"액세서리|피혁잡화|구두"),'중분류명'] = '패션잡화'
A.loc[A['중분류명'].str.contains(r"아동"),'중분류명'] = '유아용품'
A.loc[A['중분류명'].str.contains(r"보석|준보석|명품"),'중분류명'] = '명품'

In [56]:
C.loc[C['중분류명'].str.contains(r"냉동과일|건과일|견과류|양곡|잡곡|선식류|선어가공|건어류|건어가공|반찬류|간편간식|식사류|베이커리|기타조리식품|냉장음료|아이스크림|만두|냉장간식MS|냉장식사MS|냉장기타MS|우유|발효유|치즈버터|냉동MS|생수|탄산음료|과채음료|커피음료|차음료|기능성음료|두유|소주|맥주|와인|양주|전통주|기타음주류|병통조림|커피류|담배|분유|차류|즉석식품|가공건식품|장류|식용유|조미료|케첩마요네즈|감미료|가공분말류|라면|건면|쿠키케이크|스낵|캔디껌류|초콜렛|전통과자|씨리얼"),'중분류명'] = '가공식품'
C.loc[C['중분류명'].str.contains(r"국산과일|수입과일|엽채류|과채류|근채류|두채류|김치채소류|버섯류|양채류|나물류|계란류|선어류|해물류|기타수산|국내산우육|국내산돈육|국내산계육|수입우육|수입돈육|기타축산|냉장농산|냉장수산|냉장축산"),'중분류명'] = '신선식품'
C.loc[C['중분류명'].str.contains(r"세탁세제|화장지|주방주거세제|화장품|두발용품|생리용품|구강용품|위생용품|주방용품|청소욕실용품|가정잡화"),'중분류명'] = '일상용품'
C.loc[C['중분류명'].str.contains(r"건강식품"),'중분류명'] = '의약품/의료기기'
C.loc[C['중분류명'].str.contains(r"문화용품"),'중분류명'] = '교육/문화용품'
C.loc[C['중분류명'].str.contains(r"전기전자"),'중분류명'] = '디지털/가전'
C.loc[C['중분류명'].str.contains(r"의류잡화"),'중분류명'] = '의류'
C.loc[C['중분류명'].str.contains(r"레저취미"),'중분류명'] = '전문스포츠/레저'
C.loc[C['중분류명'].str.contains(r"유아용품"),'중분류명'] = '유아용품'

In [68]:
D.loc[D['중분류명'].str.contains(r"과자|음료"),'중분류명'] = '가공식품'
#D.loc[D['중분류명'].str.contains(r"|"),'중분류명'] = '신선식품'
#D.loc[D['중분류명'].str.contains(r"|"),'중분류명'] = '외식'
D.loc[D['중분류명'].str.contains(r"화장지|탈취제|베이직케어|선케어|클렌징|집중케어|남성케어|베이비케어|헤어케어|바디케어|풋케어|구강케어|여성용품|화장지티슈|방향제습탈취제|미용소품|안전용품|여행용품|계절팩|여성|남성|베이스메이크업|아이메이크업|립메이크업|네일메이크업"),'중분류명'] = '일상용품'
D.loc[D['중분류명'].str.contains(r"건강기능식품|일반의약외품"),'중분류명'] = '의약품/의료기기'
D.loc[D['중분류명'].str.contains(r"팬시용품"),'중분류명'] = '교육/문화용품'
#D.loc[D['중분류명'].str.contains(r"|"),'중분류명'] = '기타'
D.loc[D['중분류명'].str.contains(r"기기|전기용품"),'중분류명'] = '디지털/가전'
#D.loc[D['중분류명'].str.contains(r"|"),'중분류명'] = '가구/인테리어'
#D.loc[D['중분류명'].str.contains(r"|"),'중분류명'] = '의류'
D.loc[D['중분류명'].str.contains(r"피트니스"),'중분류명'] = '전문스포츠/레저'
D.loc[D['중분류명'].str.contains(r"양말류|양산류"),'중분류명'] = '패션잡화'
#D.loc[D['중분류명'].str.contains(r"|"),'중분류명'] = '유아용품'
#D.loc[D['중분류명'].str.contains(r"|"),'중분류명'] = '명품'

In [71]:
C.중분류명.unique()

array(['신선식품', '가공식품', '의약품/의료기기', '일상용품', '유아용품', '디지털/가전', '의류',
       '전문스포츠/레저', '교육/문화용품'], dtype=object)

In [74]:
B = procl.loc[procl['제휴사']=='B']
B.head()

    제휴사  대분류코드  중분류코드    소분류코드  중분류명    소분류명
630   B      1    101  B010101  열매채소      가지
631   B      1    101  B010102  열매채소      고추
632   B      1    101  B010103  열매채소   구색 호박
633   B      1    101  B010104  열매채소  기타열매채소
634   B      1    101  B010105  열매채소     단호박

In [113]:
B = procl.loc[procl['제휴사']=='B']

#신선식품
B.loc[B['중분류명'].str.contains(r"단무지|잡곡|초밥|다시마|수입게|떡|족발|순대|연체|새우|마른김|조미김|연어|갈치|굴비|조개|계란|오리|우육|닭|감귤|감|복숭아|자두|토마토|기타회|건과|생활한방|한방식재류|수입육|한우|포도|참외|수박|딸기|메론|오렌지|자몽|석류|레몬|해물연체류|블루베리|체리|수입포도|바나나|파인애플|망고|키위|사과|배|밤|과일|해초|나물|두부|묵|즉석참기름|소고기|돼지고기|김치|반찬|양곡|멸치|황태|우유|즉석도정미|특산물|국산게|해조류|꽁치|조기|고등어|약초|대구|도미|생선|잎|잡곡류|선어|채소|버섯|오징어|젓갈|쥐치포|육포|건명태"),'중분류명'] = '신선식품'
#가공식품
B.loc[B['중분류명'].str.contains(r"대용식|음식조리|도시락|빵|HMR|밥죽류|간편요리|냉장간편식|간식|선식|햄|소시지|아이스크림|생수|유제품|요구르트|브랜드빵|치즈|두유|음료|소주|양주|건강식품|담배|꿀|안주|한과|프리미엄과자|과자|피자|디저트|장류|식용유지|가루|수입조미|면류|분유|잼|통조림|이유식|구이찜|건명태|튀김|밥류|선물세트|즉석구이|향신료|설탕류|조리식품|라면|인스턴트|간편조리|맥주|와인|전통주|스낵|껌|캔디|시리얼|파이|비스켓|초콜릿|양념|식자재|마른안주|커피|차|소스|조미료|냉동|가공|육포"),'중분류명'] = '가공식품'
#외식
B.loc[B['중분류명'].str.contains(r"맛집행사|컨세션|푸드몰|푸드코트|먹거리|중식|패스트푸드|분식|일식|양식|한식|레스토랑|Fast|카페|편의시설|판매시설|주유소|브랜드조리|베이커리|이벤트조리"),'중분류명'] = '외식'
#일상용품
B.loc[B['중분류명'].str.contains(r"조리용기|조리도구|미용소품|훼이셜케어|공구|종량제봉투|필기도구|미용잡화|노트|드럭스토어|아로마|핸드케어|덴탈케어|화장품|건전지|용품|주방|휴지통|밀대|바디|스킨케어|욕실|헤어|일상용품|티슈|청소편의|세제|제습제|키친타올|위생용품|생리대|섬유유연제|표백제|살충제|탈취제|기저귀|화장지"),'중분류명'] = '일상용품'
#의약품 의료기기 
B.loc[B['중분류명'].str.contains(r"홍인삼|기능성건강|비타민"),'중분류명'] = '의약품/의료기기'
#교육 문화
B.loc[B['중분류명'].str.contains(r"교육보조재|EDUCATION|서적|음반"),'중분류명'] = '교육/문화용품'
#디지털가전
B.loc[B['중분류명'].str.contains(r"VIDEO|에어컨|TV|DVD|오디오|홈시어터|정수기|공기청정기|음향기기|히터|전기요|가습기|밥솥|청소기|전기포트|믹서|조리기|소형음향기기|카메라|전화기|이동통신|PC|컴퓨터|전기면도기|하이패스|전자악기|MP3|전자학습기|냉장고|세탁기|선풍기|가전|디지털"),'중분류명'] = '디지털/가전'
#가구
B.loc[B['중분류명'].str.contains(r"매트|전구|그릇|침구|커튼|수예|조명|가구|테이블|의자|퍼니처|벽지"),'중분류명'] = '가구/인테리어'
#의류
B.loc[B['중분류명'].str.contains(r"병행수입|수입브랜드|마담|덧신|내의|란제리|웨어|주니어|의류|캐주얼|스트리트|정장|남성|남아|여성|여아|아동"),'중분류명'] = '의류'
#스포츠
B.loc[B['중분류명'].str.contains(r"SPORTS|스키|등산|낚시|수영복|롤러보드|자전거|골프|스포츠"),'중분류명'] = '전문스포츠/레저'
#패션잡화
B.loc[B['중분류명'].str.contains(r"복합샵|시즌잡화|슈즈|스타킹|드레스화브랜드|슈즈행사|샌들슬리퍼|NB구두|운동화|준보석|시계|액세서리|피혁브랜드|가방브랜드|잡화멀티샵|미입점행사|지갑|벨트|핸드백|가방|피혁토탈|모자|스카프|장갑|시즌토탈|썬글라스|양말|우산"),'중분류명'] = '패션잡화'
#유아용품
B.loc[B['중분류명'].str.contains(r"GIRLS|BOYS|베이비|BABY|유아"),'중분류명'] = '유아용품'
#명품
B.loc[B['중분류명'].str.contains(r"명품"),'중분류명'] = '명품'
#기타
B.loc[B['중분류명'].str.contains(r"데일리처분|균일가|음식저장|규격RTC|파티|상|시즌행사|영상|동물병원|카시트|캠핑|여행|TRAVEL"),'중분류명'] = '기타'

B.중분류명.unique()

array(['신선식품', '가공식품', '외식', '레스토랑', '구이', '반찬류', '대용식', '간식조리', '데일리처분',
       '일상용품', '구강용품', '헤어스타일링', '면도용품', '바디용품', '스킨케어', '일반헤어케어',
       '기능헤어케어', '그릇/수저', '음식조리', '음식저장/보관', '주방정리', '야외용품', '주방시즌/균일가',
       '야외/시즌용품', '균일가', '청소용품', '세탁용품', '수납용품', '욕실용품', '휴지통', '밀대/걸레',
       '종량제봉투', '소가구', '장식용품', '의자/상', '조명/전구', '보수용품', '건전지', '가구/인테리어샵',
       '테이블', '의자', '상', '제기용품', '아웃도어퍼니처', '벽지류', '가구', '성인침구류', '수예소품',
       '커튼류', '수예시즌', '아동침구류', '예능학용품', '노트/지류', '필기도구', '오피스용품',
       '파티/팬시/시즌', '미술용품', '교육보조재', '파티/팬시', '노트', '시즌행사', '일반서적', '음반',
       '유/아동서적', '영상', '서적', '음반영상', 'BABY/INFANT', 'GIRLS', '교육',
       'VIDEOGAME', '남아', 'SPORTS/OUTDOOR', 'EDUCATION 1', 'EDUCATION 2',
       'BOYS 1', 'BOYS 2', '애완/동물용품', '원예용품', '애견용품', '덴탈케어', '고양이용품',
       '동물병원', '수족관용품', '카시트/매트', '교환/보수용품', '휴대폰용품', '장착용품', '오토바이용품',
       '스트리트편집샵', '행사', '이지캐주얼브랜드', '여성캐주얼브랜드', '비즈니스정장', '시티캐주얼', '복합샵',
       '남성브랜드', '남성행사', '남성시즌행사', '유아브랜드', '아동복합샵', '아동브랜드', '아동행사',
       '유아동용품', '유아용품', '유아토들러', '주니어스포츠', '주니어웨어', '유아동PB', '유아동NPB',
       '유아동특정', '성인내의', '란제리', '양말', '홈웨어', '스타킹', '란제리브랜드', '아동내의',
       '언더웨어행사', '국내화장품', '미용잡화', '수입브랜드', '화장품브랜드샵', '스키', '등산', '낚시',
       '수영복', '윈터스포츠', '워터스포츠', '스포츠웨어', '롤러보드', '구기용품', '헬스용품', '자전거',
       '스포츠ACC', '라켓스포츠', '시니어건강용품', '스포츠의류', '분식', '양식', '일식', '중식',
       '한식', '패스트푸드', '푸드코트', '컨세션', '해초류', '나물', '콩나물', '두부', '묵',
       '즉석참기름', '묵/즉석참기름', '냉장고', '세탁기', 'TV', 'DVD', '오디오', '홈시어터',
       '김치냉장고', '정수기', '공기청정기', '에어컨', '선풍기', '히터기', '전기요/장판', '가습기',
       '건강가전', '밥솥', '주방소형가전', '청소기', '전기포트', '믹서기', '생활소형가전', '기타주방가전',
       '조리기', '소형음향기기', '카메라/캠코더', '전화기/팩스', '이동통신', 'PC', '컴퓨터주변기기',
       '전기면도기', '건강디지털기기', 'NAVI/하이패스', '기타음향기기', '전자악기', 'MP3/PMP',
       '전자학습기', '어묵맛살', '햄소시지', '냉장반찬', '아이스크림', '햄', '소시지', '냉장햄세트',
       '드레스화브랜드', '캐주얼화브랜드', '아동화브랜드', '슈즈행사', '남성구두', '여성구두', '샌들슬리퍼',
       'NB구두', '운동화', '준보석', '시계', '액세서리', '피혁브랜드', '가방브랜드', '잡화멀티샵',
       '미입점행사', '지갑', '벨트', '핸드백', '가방', '피혁토탈', '모자', '우산/양산', '스카프',
       '장갑', '시즌토탈', '썬글라스', '여행용품', '우육', '수입육', '일반한우', '브랜드한우', '닭고기',
       '계란', '오리고기', '돼지고기', '브랜드돼지고기', '온라인돼지고기', '마담/어덜트', '미시캐주얼',
       '여성베이직', '여성이지캐주얼', '여성PB', '여성NPB', '여성특정', '병행수입', '남성베이직',
       '남성스포츠', '남성어덜트캐주얼', '남성이지캐주얼', '남성스포츠PB', '남성스포츠NPB', '남성스포츠특정',
       '스포츠브랜드편집', '스포츠NB', '골프', '브랜드', '과실과일', '과채과일', '친환경과일', '감귤',
       '감', '복숭아', '자두', '토마토', '포도', '참외', '수박', '딸기', '메론', '수입감귤과일',
       '수입기타과일', '열대과일', '키위/석류', '포도/체리', '오렌지', '자몽', '오렌지과일기타', '석류',
       '레몬', '해물연체류', '기타회', '건과', '생활한방', '한방식재류', '김/초밥', '도시락', '선식',
       '떡', '족발', '순대', '단무지류', '김치류', '젓갈류', '브랜드푸드몰', '빵', '반찬', '전통간식',
       '먹거리', '먹거리행사', '맛집행사', '블루베리', '체리', '수입포도', '열대과일기타', '바나나',
       '파인애플', '망고', '키위', '남성용품', '바디케어', '훼이셜케어', '베이비케어', '풋/핸드케어',
       '미용소품', '아로마', '간식', '남성양말', '여성양말', '아동양말', '덧신', '주니어양말',
       '온라인양말', '시즌슈즈', '스포츠슈즈', '아동슈즈', '캐주얼슈즈', '슈즈용품', '지갑/벨트',
       'TRAVEL', '시즌잡화', '캠핑', '잡곡', '온라인잡곡선식', '냉장간편식HMR', '냉장식사HMR',
       '간편요리', '밥죽류', '비타민', '기능성건강', '홍인삼', '수입연어', '수입갈치', '수입게',
       '규격RTC', '굴비', '해초', '조개', '조개살', '연체', '새우', '온라인해물연체', '멸치',
       '황태', '미역/다시마', '조미김', '미국산소고기', '호주산소고기', '수입돼지고기', '기타국소고기',
       '유아식기', '조리용기', '조리도구', '주방가전', '시즌/건강가전', '패브릭욕실용품', '매트',
       '프리미엄매트', '일반욕실용품', 'DIY욕실용품', '수도용품', '조명기구', '전구', '전기용품',
       '안전용품', '공구', '브랜드침구', '성인침구', '아동침구', '기초화장품', '색조화장품', '드럭스토어',
       '온라인화장품', '사과', '배', '온라인저장과일', '구색과일', '밤'], dtype=object)

array(['신선식품', '가공식품', '외식', '레스토랑', '구이', '반찬류', '대용식', '간식조리', '데일리처분',
       '일상용품', '구강용품', '헤어스타일링', '면도용품', '바디용품', '스킨케어', '일반헤어케어',
       '기능헤어케어', '그릇/수저', '음식조리', '음식저장/보관', '주방정리', '야외용품', '주방시즌/균일가',
       '야외/시즌용품', '균일가', '청소용품', '세탁용품', '수납용품', '욕실용품', '휴지통', '밀대/걸레',
       '청소편의도구', '종량제봉투', '소가구', '장식용품', '의자/상', '조명/전구', '보수용품', '건전지',
       '가구/인테리어샵', '테이블', '의자', '상', '제기용품', '아웃도어퍼니처', '벽지류', '가구',
       '성인침구류', '수예소품', '커튼류', '수예시즌', '아동침구류', '예능학용품', '노트/지류', '필기도구',
       '오피스용품', '파티/팬시/시즌', '미술용품', '교육보조재', '파티/팬시', '노트', '시즌행사',
       '일반서적', '음반', '유/아동서적', '영상', '서적', '음반영상', 'BABY/INFANT', 'GIRLS',
       '교육', 'VIDEOGAME', '남아', 'SPORTS/OUTDOOR', 'EDUCATION 1',
       'EDUCATION 2', 'BOYS 1', 'BOYS 2', '애완/동물용품', '원예용품', '애견용품',
       '덴탈케어', '고양이용품', '동물병원', '수족관용품', '카시트/매트', '교환/보수용품', '휴대폰용품',
       '장착용품', '오토바이용품', '스트리트편집샵', '행사', '이지캐주얼브랜드', '여성캐주얼브랜드',
       '비즈니스정장', '시티캐주얼', '복합샵', '남성브랜드', '남성행사', '남성시즌행사', '유아브랜드',
       '아동복합샵', '아동브랜드', '아동행사', '유아동용품', '유아용품', '유아토들러', '주니어스포츠',
       '주니어웨어', '유아동PB', '유아동NPB', '유아동특정', '성인내의', '란제리', '양말', '홈웨어',
       '스타킹', '란제리브랜드', '아동내의', '언더웨어행사', '국내화장품', '미용잡화', '수입브랜드',
       '화장품브랜드샵', '스키', '등산', '낚시', '수영복', '윈터스포츠', '워터스포츠', '스포츠웨어',
       '롤러보드', '구기용품', '헬스용품', '자전거', '스포츠ACC', '라켓스포츠', '시니어건강용품',
       '스포츠의류', '분식', '양식', '일식', '중식', '한식', '패스트푸드', '푸드코트', '컨세션',
       '해초류', '나물', '콩나물', '두부', '묵', '즉석참기름', '묵/즉석참기름', '냉장고', '세탁기',
       'TV', 'DVD', '오디오', '홈시어터', '김치냉장고', '정수기', '공기청정기', '에어컨', '선풍기',
       '히터기', '전기요/장판', '가습기', '건강가전', '밥솥', '주방소형가전', '청소기', '전기포트',
       '믹서기', '생활소형가전', '기타주방가전', '조리기', '소형음향기기', '카메라/캠코더', '전화기/팩스',
       '이동통신', 'PC', '컴퓨터주변기기', '전기면도기', '건강디지털기기', 'NAVI/하이패스', '기타음향기기',
       '전자악기', 'MP3/PMP', '전자학습기', '어묵맛살', '햄소시지', '냉장반찬', '아이스크림', '햄',
       '소시지', '냉장햄세트', '드레스화브랜드', '캐주얼화브랜드', '아동화브랜드', '슈즈행사', '남성구두',
       '여성구두', '샌들슬리퍼', 'NB구두', '운동화', '준보석', '시계', '액세서리', '피혁브랜드',
       '가방브랜드', '잡화멀티샵', '미입점행사', '지갑', '벨트', '핸드백', '가방', '피혁토탈', '모자',
       '우산/양산', '스카프', '장갑', '시즌토탈', '썬글라스', '여행용품', '우육', '수입육', '일반한우',
       '브랜드한우', '닭고기', '계란', '오리고기', '돼지고기', '브랜드돼지고기', '온라인돼지고기',
       '마담/어덜트', '미시캐주얼', '여성베이직', '여성이지캐주얼', '여성PB', '여성NPB', '여성특정',
       '병행수입', '남성베이직', '남성스포츠', '남성어덜트캐주얼', '남성이지캐주얼', '남성스포츠PB',
       '남성스포츠NPB', '남성스포츠특정', '스포츠브랜드편집', '스포츠NB', '골프', '브랜드', '과실과일',
       '과채과일', '친환경과일', '감귤', '감', '복숭아', '자두', '토마토', '포도', '참외', '수박',
       '딸기', '메론', '수입감귤과일', '수입기타과일', '열대과일', '키위/석류', '포도/체리', '오렌지',
       '자몽', '오렌지과일기타', '석류', '레몬', '해물연체류', '기타회', '건과', '생활한방', '한방식재류',
       '김/초밥', '도시락', '선식', '떡', '족발', '순대', '단무지류', '김치류', '젓갈류',
       '브랜드푸드몰', '빵', '반찬', '전통간식', '먹거리', '먹거리행사', '맛집행사', '블루베리', '체리',
       '수입포도', '열대과일기타', '바나나', '파인애플', '망고', '키위', '남성용품', '바디케어',
       '훼이셜케어', '베이비케어', '풋/핸드케어', '미용소품', '아로마', '간식', '남성양말', '여성양말',
       '아동양말', '덧신', '주니어양말', '온라인양말', '시즌슈즈', '스포츠슈즈', '아동슈즈', '캐주얼슈즈',
       '슈즈용품', '지갑/벨트', 'TRAVEL', '시즌잡화', '캠핑', '잡곡', '온라인잡곡선식',
       '냉장간편식HMR', '냉장식사HMR', '간편요리', '밥죽류', '비타민', '기능성건강', '홍인삼',
       '수입연어', '수입갈치', '수입게', '규격RTC', '굴비', '해초', '조개', '조개살', '연체',
       '새우', '온라인해물연체', '멸치', '황태', '미역/다시마', '조미김', '미국산소고기', '호주산소고기',
       '수입돼지고기', '기타국소고기', '유아식기', '조리용기', '조리도구', '주방가전', '시즌/건강가전',
       '패브릭욕실용품', '매트', '프리미엄매트', '일반욕실용품', 'DIY욕실용품', '수도용품', '조명기구',
       '전구', '전기용품', '안전용품', '공구', '브랜드침구', '성인침구', '아동침구', '기초화장품',
       '색조화장품', '드럭스토어', '온라인화장품', '사과', '배', '온라인저장과일', '구색과일', '밤'],
      dtype=object)

In [21]:
channel = pd.read_csv('./data/채널이용.txt', encoding='euc-kr', sep=',')
channel

       고객번호           제휴사  이용횟수
0         7  A_MOBILE/APP     4
1        14  A_MOBILE/APP     1
2        42  B_MOBILE/APP    23
3        74  A_MOBILE/APP     1
4        74  B_MOBILE/APP    30
...     ...           ...   ...
8819  19168  C_ONLINEMALL    18
8820  19291  C_ONLINEMALL     1
8821  19312  B_ONLINEMALL   137
8822  19351  C_ONLINEMALL    19
8823  19356  C_ONLINEMALL    16

[8824 rows x 3 columns]

In [ ]:
A.loc[sd['target'].str.contains(r"|"),'중분류명'] = ''

In [9]:
purprd = pd.read_csv('./data/구매상품TR.txt', encoding='euc-kr', sep=',')
purprd

,제휴사,영수증번호,대분류코드,중분류코드,소분류코드,고객번호,점포코드,구매일자,구매시간,구매금액
0,B,8664000,15,1504,B150401,17218,44,20140222,20,2420
1,B,8664000,16,1601,B160101,17218,44,20140222,20,1070
2,B,8664000,16,1602,B160201,17218,44,20140222,20,8060
3,B,8664000,18,1803,B180301,17218,44,20140222,20,6000
4,B,8664001,5,509,B050901,17674,44,20140222,22,1120
...,...,...,...,...,...,...,...,...,...,...
28593025,B,8116737,37,3709,B370904,7439,29,20150525,19,14000
28593026,B,8116738,37,3709,B370904,16421,29,20150525,20,6500
28593027,B,8116739,8,802,B080203,8266,29,20150525,13,16000
28593028,B,8116764,90,9001,B900103,14316,29,20150526,19,1000
28593029,B,8116741,8,802,B080203,16587,29,20150525,17,16000

In [10]:
new = pd.merge(purprd, demo, on="고객번호", how='left')
new

,제휴사,영수증번호,대분류코드,중분류코드,소분류코드,고객번호,점포코드,구매일자,구매시간,구매금액,성별,연령대,거주지역
0,B,8664000,15,1504,B150401,17218,44,20140222,20,2420,F,50세~54세,100.0
1,B,8664000,16,1601,B160101,17218,44,20140222,20,1070,F,50세~54세,100.0
2,B,8664000,16,1602,B160201,17218,44,20140222,20,8060,F,50세~54세,100.0
3,B,8664000,18,1803,B180301,17218,44,20140222,20,6000,F,50세~54세,100.0
4,B,8664001,5,509,B050901,17674,44,20140222,22,1120,F,35세~39세,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28593025,B,8116737,37,3709,B370904,7439,29,20150525,19,14000,M,40세~44세,100.0
28593026,B,8116738,37,3709,B370904,16421,29,20150525,20,6500,F,45세~49세,100.0
28593027,B,8116739,8,802,B080203,8266,29,20150525,13,16000,F,35세~39세,210.0
28593028,B,8116764,90,9001,B900103,14316,29,20150526,19,1000,F,25세~29세,100.0
28593029,B,8116741,8,802,B080203,16587,29,20150525,17,16000,M,35세~39세,100.0

In [12]:
#new.to_csv('purprd_demo결합.csv',encoding="utf-8-sig", index=False, header=1)

In [ ]:
# custno기준
# demo, competitor, membership, channel 결합

In [25]:
custno1 = pd.merge(demo, competitor, on="고객번호", how='left')
custno1.head()

   고객번호 성별    연령대  거주지역 제휴사  경쟁사      이용년월
0     1  M  60세이상  60.0   A  A01  201507.0
1     1  M  60세이상  60.0   A  A02  201504.0
2     1  M  60세이상  60.0   B  B01  201501.0
3     1  M  60세이상  60.0   B  B01  201502.0
4     1  M  60세이상  60.0   B  B01  201507.0

In [26]:
custno2 = pd.merge(custno1, membership, on="고객번호", how='left')
custno2.head()

   고객번호 성별    연령대  거주지역 제휴사  경쟁사      이용년월 멤버십명  가입년월
0     1  M  60세이상  60.0   A  A01  201507.0  NaN   NaN
1     1  M  60세이상  60.0   A  A02  201504.0  NaN   NaN
2     1  M  60세이상  60.0   B  B01  201501.0  NaN   NaN
3     1  M  60세이상  60.0   B  B01  201502.0  NaN   NaN
4     1  M  60세이상  60.0   B  B01  201507.0  NaN   NaN

In [27]:
custno3 = pd.merge(custno2, channel, on="고객번호", how='left')
custno3.head()

   고객번호 성별    연령대  거주지역 제휴사_x  경쟁사      이용년월 멤버십명  가입년월 제휴사_y  이용횟수
0     1  M  60세이상  60.0     A  A01  201507.0  NaN   NaN   NaN   NaN
1     1  M  60세이상  60.0     A  A02  201504.0  NaN   NaN   NaN   NaN
2     1  M  60세이상  60.0     B  B01  201501.0  NaN   NaN   NaN   NaN
3     1  M  60세이상  60.0     B  B01  201502.0  NaN   NaN   NaN   NaN
4     1  M  60세이상  60.0     B  B01  201507.0  NaN   NaN   NaN   NaN

In [28]:
custno = custno3.copy()

In [30]:
custno

,고객번호,성별,연령대,거주지역,제휴사_x,경쟁사,이용년월,멤버십명,가입년월,제휴사_y,이용횟수
0,1,M,60세이상,60.0,A,A01,201507.0,NaN,NaN,NaN,NaN
1,1,M,60세이상,60.0,A,A02,201504.0,NaN,NaN,NaN,NaN
2,1,M,60세이상,60.0,B,B01,201501.0,NaN,NaN,NaN,NaN
3,1,M,60세이상,60.0,B,B01,201502.0,NaN,NaN,NaN,NaN
4,1,M,60세이상,60.0,B,B01,201507.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
48842,19379,F,20세~24세,69.0,NaN,NaN,NaN,롭스,201412.0,NaN,NaN
48843,19380,F,20세~24세,39.0,NaN,NaN,NaN,롭스,201412.0,D_MOBILE/APP,1.0
48844,19381,F,40세~44세,460.0,NaN,NaN,NaN,다둥이,201506.0,B_MOBILE/APP,5.0
48845,19382,F,45세~49세,460.0,NaN,NaN,NaN,NaN,NaN,B_MOBILE/APP,9.0
48846,19383,F,25세~29세,500.0,NaN,NaN,NaN,롭스,201507.0,NaN,NaN

## ABCD concat

In [ ]:
prodcl_abcd = pd.concat([A,B,C,D], ignore_index=True)
prodcl_abcd.head()