In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use(['seaborn-whitegrid'])

from sklearn import cluster
from sklearn import mixture
from sklearn import datasets
from sklearn.preprocessing import StandardScaler

### 데이터 불러오기

In [27]:
#m1 = pd.read_csv('장애유형별_연령별_2022/m1.csv', encoding='cp949')
#m2 = pd.read_csv('장애유형별_연령별_2022/m2.csv', encoding='cp949')
#m3 = pd.read_csv('장애유형별_연령별_2022/m3.csv', encoding='cp949')
#m4 = pd.read_csv('장애유형별_연령별_2022/m4.csv', encoding='cp949')
#m5 = pd.read_csv('장애유형별_연령별_2022/m5.csv', encoding='cp949')
# 가장 최근 6월만
m6 = pd.read_csv('장애유형별_연령별_2022/m6.csv', encoding='cp949')
m6

          통계년월    통계시도명 통계시군구명  연령 장애유형  등록장애인수
0       202206    서울특별시    종로구  91  뇌병변       5
1       202206    서울특별시    종로구  59   지체      50
2       202206    서울특별시    종로구  92  뇌병변       1
3       202206    서울특별시    종로구  93  뇌병변       7
4       202206    서울특별시    종로구  94  뇌병변       1
...        ...      ...    ...  ..  ...     ...
162268  202206  제주특별자치도   서귀포시  86  뇌병변      21
162269  202206  제주특별자치도   서귀포시  59   지체     111
162270  202206  제주특별자치도   서귀포시  87  뇌병변      22
162271  202206  제주특별자치도   서귀포시  88  뇌병변      18
162272  202206  제주특별자치도   서귀포시  89  뇌병변      21

[162273 rows x 6 columns]

In [16]:
#m = pd.concat([m1,m2,m3,m4,m5,m6], ignore_index=True)
#m

          통계년월    통계시도명 통계시군구명  연령 장애유형  등록장애인수
0       202201    서울특별시    종로구  89  뇌병변       6
1       202201    서울특별시    종로구  90  뇌병변       3
2       202201    서울특별시    종로구  91  뇌병변       3
3       202201    서울특별시    종로구  92  뇌병변       5
4       202201    서울특별시    종로구  93  뇌병변       2
...        ...      ...    ...  ..  ...     ...
973703  202206  제주특별자치도   서귀포시  86  뇌병변      21
973704  202206  제주특별자치도   서귀포시  59   지체     111
973705  202206  제주특별자치도   서귀포시  87  뇌병변      22
973706  202206  제주특별자치도   서귀포시  88  뇌병변      18
973707  202206  제주특별자치도   서귀포시  89  뇌병변      21

[973708 rows x 6 columns]

In [28]:
mm = m6['통계시도명'] == '서울특별시'
m6df = m6.loc[mm]
m6df

         통계년월  통계시도명 통계시군구명  연령 장애유형  등록장애인수
0      202206  서울특별시    종로구  91  뇌병변       5
1      202206  서울특별시    종로구  59   지체      50
2      202206  서울특별시    종로구  92  뇌병변       1
3      202206  서울특별시    종로구  93  뇌병변       7
4      202206  서울특별시    종로구  94  뇌병변       1
...       ...    ...    ...  ..  ...     ...
21512  202206  서울특별시    강동구  86  뇌병변      21
21513  202206  서울특별시    강동구  59   지체     210
21514  202206  서울특별시    강동구  87  뇌병변      16
21515  202206  서울특별시    강동구  88  뇌병변      13
21516  202206  서울특별시    강동구  89  뇌병변      10

[21517 rows x 6 columns]

In [29]:
m6df.isnull().sum()

통계년월      0
통계시도명     0
통계시군구명    0
연령        0
장애유형      0
등록장애인수    0
dtype: int64

### 연령 범주화

In [30]:
def age(x):
    x = (x // 10) * 10
    return x

In [33]:
연령대 = m6df.연령.apply(age)
연령대

0        90
1        50
2        90
3        90
4        90
         ..
21512    80
21513    50
21514    80
21515    80
21516    80
Name: 연령, Length: 21517, dtype: int64

In [34]:
연령대 = 연령대.astype('category')
연령대

0        90
1        50
2        90
3        90
4        90
         ..
21512    80
21513    50
21514    80
21515    80
21516    80
Name: 연령, Length: 21517, dtype: category
Categories (12, int64): [0, 10, 20, 30, ..., 80, 90, 100, 110]

In [35]:
m6df.insert(3, '연령대', 연령대)
m6df

         통계년월  통계시도명 통계시군구명 연령대  연령 장애유형  등록장애인수
0      202206  서울특별시    종로구  90  91  뇌병변       5
1      202206  서울특별시    종로구  50  59   지체      50
2      202206  서울특별시    종로구  90  92  뇌병변       1
3      202206  서울특별시    종로구  90  93  뇌병변       7
4      202206  서울특별시    종로구  90  94  뇌병변       1
...       ...    ...    ...  ..  ..  ...     ...
21512  202206  서울특별시    강동구  80  86  뇌병변      21
21513  202206  서울특별시    강동구  50  59   지체     210
21514  202206  서울특별시    강동구  80  87  뇌병변      16
21515  202206  서울특별시    강동구  80  88  뇌병변      13
21516  202206  서울특별시    강동구  80  89  뇌병변      10

[21517 rows x 7 columns]

In [ ]:
m6df1 =