#### 7/13 -  Q1. 남녀 파트너 정해주기 프로그램(zip) 
같은 수의 남녀 모임에서 파트너를 랜덤하게 정해주는 프로그램을 만들어 보세요

male = ['철수','갑돌','로미오','이몽룡','온돌']

female = ['미미','갑순','줄리엣','성춘향','평강']

In [3]:
# zip 함수 이용

import numpy as np
import random

male = ['철수','갑돌','로미오','이몽룡','온돌']
female = ['미미','갑순','줄리엣','성춘향','평강']

partner = list(zip(male,female))
random.shuffle(partner)
partner

[('온돌', '평강'), ('철수', '미미'), ('로미오', '줄리엣'), ('갑돌', '갑순'), ('이몽룡', '성춘향')]

In [4]:
male = ['철수','갑돌','로미오','이몽룡','온돌']
female = ['미미','갑순','줄리엣','성춘향','평강']

random.shuffle(male)
random.shuffle(female)

couples = zip(male, female)

for i, couple in enumerate(couples):
    print(f'커플{i+1}:{couple[0]},{couple[1]}')

커플1:이몽룡,갑순
커플2:갑돌,미미
커플3:로미오,평강
커플4:온돌,성춘향
커플5:철수,줄리엣

#### 7/13 - Q2. 사용자가 입력한 횟수만큼 로또 번호를 출력하는 프로그램을 작성하세요. (중복 X)

In [5]:
num = int(input('로또 번호의 개수를 입력하세요'))

for i in range(0, int(num)):
    lo = random.sample(range(1,46),int(num))
print(lo)

로또 번호의 개수를 입력하세요5
[39, 13, 12, 3, 1]

In [6]:
num = int(input('로또 번호의 개수를 입력하세요'))

a = 0
x = []
for i in range(0, int(num)):
    a = random.sample(range(1,46),int(num))
    x.append(a)
print(x)

로또 번호의 개수를 입력하세요5
[[35, 38, 13, 36, 44], [13, 11, 14, 4, 26], [43, 26, 2, 18, 25], [29, 19, 18, 22, 33], [13, 19, 25, 42, 10]]

##### [도전과제] 발표자를 원하는 수만큼 랜덤하게 출력하는 프로그램을 작성하세요.

In [41]:
cakd7 = ['박영권','김현지','김덕현','변서연','한지웅','양주희','이호원','정지은','이정현A','이명진','이상윤','조승현','강유한','김영선','최애림','김민섭','박혜린','이정현B','윤정준','김진형','정승기','진청아','신창훈','김병석','박세희']
len(cakd7)

25

In [42]:
number

'5'

In [13]:
import random 
import numpy as np


list = ['박영권','김현지','김덕현','변서연','한지웅','양주희','이호원','정지은','이정현A',
         '이정현B','이명진','이상윤','조승현','강유한','김영선','최애림','김민섭','박혜린',
         '윤정준','김진형','정승기','진청아','신창훈','김병석','박세희']



print("=============== CAKD7 발표자 랜덤 뽑기 입니다.==============="'\n')
                        
get_ran_num = int(input(" 발표 인원을 입력해주세요 >  "'\n')) 


lucky_guy = random.sample(list,get_ran_num)

print(" ")
for i in range(get_ran_num):
    print(f'{i+1}번 문제 발표자는 {lucky_guy[i]} 입니다.')

=============== CAKD7 발표자 랜덤 뽑기 입니다.===============

 발표 인원을 입력해주세요 >
2

1번 문제 발표자는 신창훈 입니다.
2번 문제 발표자는 윤정준 입니다.

#### 7/14 - Q3. 입력받은 문자열의 각 문자를 그 다음 문자로 변경하여 출력하세요. abc -> bca

In [69]:
a = 'abc'
a[1]+a[2]+a[0]

'bca'

In [72]:
def shift(str) :
    return str[1:] + str[0]

a = 'abc'

shift(a)

'bca'

In [1]:
text = input('문자를 입력하세요. >')
ret = ''
for i in range(len(text)):
    if i != len(text)-1 :
        ret += text[i+1]
    else :
        ret += text[0]
        
print(ret)

문자를 입력하세요. >abcd
bcda

#### 7/14 - Q4. url에서 호스트 도메인을 추출하여 출력하세요.

url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601


news.naver.com 요기만 출력하기

In [12]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

tmp = url.split('/')
print(tmp[2])

news.naver.com

In [8]:
import re

url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

news = re.findall(r'[a-z]{4}.[a-z]{5}.[a-z]{3}',url)
print(news)

['news.naver.com']

In [10]:
import re

url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

news = re.search(r'([a-z]{4}.[a-z]{5}.[a-z]{3})',url)
print(news.group(1))

news.naver.com

#### 7/15 - Q5. url에서 쿼리문을 추출하여 출력하세요.

url에서 '?'뒤에 표시되는 문자열을 쿼리 문자열이라고 하며 변수=값 사이 &로 
구분되어 나열된다.

url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [20]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

qus = url.split('?')
tmp[1]

'mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [21]:
qus[1].split('&')

['mode=LSD', 'mid=shm', 'sid1=105', 'oid=028', 'aid=0002334601']

In [17]:
import re

url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

p = re.compile('[\w./:]+[?]([\w./:=&]+)')
query = p.search(url).group(1).split('&')

for i in range(len(query)):
    print(f'{i+1}번째 쿼리 문자열 : {query[i]}')

1번째 쿼리 문자열 : mode=LSD
2번째 쿼리 문자열 : mid=shm
3번째 쿼리 문자열 : sid1=105
4번째 쿼리 문자열 : oid=028
5번째 쿼리 문자열 : aid=0002334601

#### 7/15 - Q6.텍스트 파일(mydata.txt)을 읽고  파일의 내용에서 나타나는 문자들에 대해 자주 나타나는 문자들을 아래와 같이 순서대로 출력하세요.
- \[ \] -> [177]회 나타남
- [e] -> [97]회 나타남
- [t] -> [85]회 나타남

for문 사용?

In [7]:
import pandas as pd

data = pd.read_table('mydata.txt')
data

            a lot of things occur each day
0        we've got to live with on our way
1     there's so much misery on the screen
2              with commercials in between
3        and the russians won't be so late
4             uncle sam don't want to wait
5       no matter if you're black or white
6               you never ever had a right
7         and look up to the eternal skies
8                   see warfare even there
9            what once has been a paradise
10             now destruction and despair
11        in other worlds the children die
12             lacking food ill from a fly
13  oppressed by troops to tame their land
14                 it's all the same again
15             if any man is free on earth
16         then tormentors steal his birth
17         they slam gun butts in his face
18      and leave his woman choked in mace
19        so stand up for our human rights
20             push back this pest of hate
21       raise you voice pass on the light
22                unite! it's not too late
23                how many tears flow away
24                to become a sea of fears
25          how many hearts are torn apart
26             till another torment starts
27                    but before the world
28                        turns into a sun
29                all cruelty and violence
30          on earth will be dead and gone
31        so stand up for our human rights
32             push back this pest of hate
33       raise you voice pass on the light
34                unite! it's not too late

In [24]:
file = open('./mydata.txt')

lines = file.readlines()
print(lines)

['a lot of things occur each day\n', "we've got to live with on our way\n", "there's so much misery on the screen\n", 'with commercials in between\n', '\n', "and the russians won't be so late\n", "uncle sam don't want to wait\n", "no matter if you're black or white\n", 'you never ever had a right\n', '\n', 'and look up to the eternal skies\n', 'see warfare even there\n', 'what once has been a paradise\n', 'now destruction and despair\n', '\n', 'in other worlds the children die\n', 'lacking food ill from a fly\n', 'oppressed by troops to tame their land\n', "it's all the same again\n", '\n', 'if any man is free on earth\n', 'then tormentors steal his birth\n', 'they slam gun butts in his face\n', 'and leave his woman choked in mace\n', '\n', 'so stand up for our human rights\n', 'push back this pest of hate\n', 'raise you voice pass on the light\n', "unite! it's not too late\n", '\n', 'how many tears flow away\n', 'to become a sea of fears\n', 'how many hearts are torn apart\n', 'till another torment starts\n', '\n', 'but before the world\n', 'turns into a sun\n', 'all cruelty and violence\n', 'on earth will be dead and gone\n', '\n', 'so stand up for our human rights\n', 'push back this pest of hate\n', 'raise you voice pass on the light\n', "unite! it's not too late"]

In [29]:
lines = {}

for i in file:
    if i in dick2:
        dick2[i] +=1
    else:
        dick2[i] = 0

In [ ]:
# 천천히 한번 다시 하고 안보고 해보깅

In [27]:
def getTextFreq(filename):
    with open(filename,'r') as f:
        text = f.read()
        fa = {}
        for c in text:
            if c in fa:
                fa[c] += 1
            else:
                fa[c] = 1
    return fa
ret = getTextFreq('mydata.txt')
ret = sorted(ret.items(),key=lambda x:x[1], reverse=True)
print(ret)
for c, freq in ret:
    if c =='\n':
        continue
    print('[%c] - > [%d]회 나타남' %(c,freq))

[(' ', 177), ('e', 97), ('t', 85), ('a', 78), ('o', 73), ('n', 60), ('s', 60), ('r', 54), ('i', 50), ('h', 48), ('\n', 43), ('l', 34), ('u', 27), ('d', 24), ('c', 23), ('w', 20), ('m', 20), ('f', 17), ('y', 15), ('p', 15), ('b', 13), ('g', 11), ('v', 9), ("'", 8), ('k', 7), ('!', 2)]
[ ] - > [177]회 나타남
[e] - > [97]회 나타남
[t] - > [85]회 나타남
[a] - > [78]회 나타남
[o] - > [73]회 나타남
[n] - > [60]회 나타남
[s] - > [60]회 나타남
[r] - > [54]회 나타남
[i] - > [50]회 나타남
[h] - > [48]회 나타남
[l] - > [34]회 나타남
[u] - > [27]회 나타남
[d] - > [24]회 나타남
[c] - > [23]회 나타남
[w] - > [20]회 나타남
[m] - > [20]회 나타남
[f] - > [17]회 나타남
[y] - > [15]회 나타남
[p] - > [15]회 나타남
[b] - > [13]회 나타남
[g] - > [11]회 나타남
[v] - > [9]회 나타남
['] - > [8]회 나타남
[k] - > [7]회 나타남
[!] - > [2]회 나타남

#### 7/18 - Q7. 두개의 수를 입력한 후 두개의 수에 대한 사칙연산을 수행하세요.(0을 입력한 경우 다시 입력하도록 조치)

In [ ]:
# Cal4 클래스를 만들어서 작성

In [11]:
class Cal4 :
    def __init__(self, a, b):
        self.first = a
        self.second = b
    def add(self):
        return self.first + self.second
    def sub(self):
        return self.first - self.second
    def mul(self):
        return self.first * self.second
    def div(self):
        return self.first / self.second

print('계산기입니당')


while True:
    a = int(input('첫번째 숫자를 입력하세요'))
    b = int(input('두번째 숫자를 입력하세요'))
    if b == 0 :
        print('0이 아닌 숫자를 입력하세요')
        continue
    else: 
        cals = Cal4(a,b)
        print(f'덧셈: {cals.add()}')
        print(f'뺄셈: {cals.sub()}')
        print(f'곱셈: {cals.mul()}')
        print(f'나눗셈: {cals.div()}')
        break

계산기입니당
첫번째 숫자를 입력하세요5
두번째 숫자를 입력하세요5
덧셈: 10
뺄셈: 0
곱셈: 25
나눗셈: 1.0

#### 7/18  - Q8. Order 클래스를 상속받아 extraOrder 클래스에서 메소드 오버라이딩하여 출력 가격에 원이 추가되도록 출력하세요.

In [4]:
class Order: 
    def __init__(self, name): 
        self.customer = 0 
        self.name = name 
    def order(self, price): 
        self.customer += price 
        return self.customer
    
order = Order('헨')
print(order.order(1000))

# ------------------------------------------------


class ExtraOrder(Order):
    def __init__(self, name):
        super().__init__(name)
    def order(self, price):
        super().order(price)
        print(f'{self.name}님의 주문금액은 {self.customer}원 입니다')

order = ExtraOrder('헨')
order.order(1000)

1000
헨님의 주문금액은 1000원 입니다

#### 7/18 - Q9. 업무미팅이 2시임을 알려주는 자동 이메일을 클래스 AutoEmail을 작성하여 아래와 같이 출력하세요.

안녕하세요. kevin님, 업무미팅은 2시입니다.

In [9]:
import time
class AutoEmail:
    def __init__(self, name, t):
        self.name = name
        self.t = t
    def alarm(self):
        if time.localtime().tm_hour==self.t:
            print(f'{self.name}님 업무 미팅 진행중 입니다.')
        else:
            print(f'{self.name}님 업무 미팅은 {self.t}시 입니다.')

AE = AutoEmail("헨",14)
AE.alarm()

헨님 업무 미팅은 14시 입니다.

#### 7/19 - Q10. 정규표현식을 사용하여 text에서 전화번호만 출력하세요.
text = "문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다."

In [2]:
text = "문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다."

import re
phone = re.search(r'([0-9-]{12})',text)
print(phone.group(1))

032-232-3245

#### 7/19 - Q11. 정규표현식을 사용하여 text에서 에러가 들어간 부분만 포함하는 리스트를 출력하세요.

text = "에러 1122, 레퍼런스 오류, 에러 1033, 아규먼트 오류, 에러 xxx"

In [87]:
text = "에러 1122, 레퍼런스 오류, 에러 1033, 아규먼트 오류, 에러 xxx"

re.findall(r'[가-힣]+ \d+',text)

['에러 1122', '에러 1033']

In [3]:
import re
text = "에러 1122, 레퍼런스 오류, 에러 1033, 아규먼트 오류, 에러 xxx"

error = re.findall(r'([가-힣]+ \d+ | [가-힣]+ \d+)',text)
print(error)

[' 에러 103']

In [4]:
text = "에러 1122, 레퍼런스 오류, 에러 1033, 아규먼트 오류, 에러 xxx"

error = re.findall(r'(\w+ \d+|\w+ \w{3})',text)
print(error)

['에러 1122', '에러 1033', '에러 xxx']

In [3]:
text = "에러 1122, 레퍼런스 오류, 에러 1033, 아규먼트 오류, 에러 xxx"

error = '에러\s\w+'
re.findall(error,text)

['에러 1122', '에러 1033', '에러 xxx']

#### 7/19 - Q12. 정규표현식을 사용하여 text에서 지역코드만 출력하세요.

text = "문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다."

In [49]:
text = "문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다."

code = re.search(r'([0-9-]{3})([-])',text)
print(code.group(1))

032

#### 7/19 - Q13. 정규표현식을 사용하여 text에서 지역코드 제외한 번호만 출력하세요.

text = "문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다."

In [150]:
text = "문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다."

code = re.search(r'([-])([0-9-]{3}[-][0-9-]{4})',text)
print(code.group(2))

232-3245

#### 7/19 - Q14. 'abcdefghij' 에 대하여 중첩을 적용한 서브그룹 5개로 컴파일하여 group()함수를 이용하여 'abcdefghi'와 e'를 출력하세요

In [5]:
hi = 'abcdefghij'

c = re.compile(r'(\w{2})(\w{2})(\w)(\w+)(\w+)')
s = c.search(hi)

print(s.group())
print(s.group(3))

abcdefghij
e

In [6]:
p = re.compile('(a(b(c(d(e)f)g)h)i)j')
m = p.match('abcdefghij')
# print(m.group(0))'Lots of punctuation''Lots of punctuation'
print(m.group(1))
m.group(5)

abcdefghi

'e'

#### 7/19 - Q15. 위문제에서 모든 서브 그룹에 대한 문자열을 포함하는 튜플을 출력하세요.

In [8]:
f = c.findall(hi)
print(f)

[('ab', 'cd', 'e', 'fghi', 'j')]

In [9]:
m.groups()

('abcdefghi', 'bcdefgh', 'cdefg', 'def', 'e')

#### 7/20 - Q16. 이름으로 그룹을 참조하여 'Lots of punctuation' 에서 Lots를 출력하세요.

In [2]:
import re
p = re.compile('(Lots) of punctuation')
m = p.match('Lots of punctuation')
m.group(1)

'Lots'

In [14]:
p = re.compile(r'(?P<name>\w{4})\s(\w+\s\w+)')
s = p.search('Lots of punctuation')
print(s.group('name'))

Lots

In [7]:
import re
p = re.compile(r'(?P<name>\w+)\s')
s = p.search('Lots of punctuation')
print(s.group('name'))

Lots

#### 7/20 - Q17. 'Paris is very very beautiful.'에서 'very very'를 출력하세요.

In [18]:
p = re.compile(r'v\w{3}')
d = p.findall('Paris is very very beautiful.')
d

['very', 'very']

In [29]:
p = re.compile(r'\s\w{4}\s')
d = p.findall('Paris is very very beautiful.')
d*2

[' very ', ' very ']

In [56]:
p = re.compile(r'\bvery\b')
x = p.findall('Paris is very very beautiful.')  
x

['very', 'very']

#### 7/20 - Q18. 정규표현식을 작성하여 아래와 같이 출력하세요.
['1 apple', '5 oranges', '3 boys', '4 girls', '10 army', '11 mr']

In [ ]:
import re
li = '1 apple, 5 oranges, 3 boys, 4 girls; 10 army| 11 mr'
regex = re.compile(      )
list = regex.findall(li)
print(list)

In [8]:
import re
li = '1 apple, 5 oranges, 3 boys, 4 girls; 10 army| 11 mr'
regex = re.compile(r'\d+\s\w+')
list = regex.findall(li)
list

['1 apple', '5 oranges', '3 boys', '4 girls', '10 army', '11 mr']

#### 7/20 - Q19. text에서 'H,h'만 출력하세요.
text = 'Hello my friend! Life is short you need Python!'

In [68]:
text = 'Hello my friend! Life is short you need Python!'

h = re.compile('[Hh]')
x = h.findall(text)
x

['H', 'h', 'h']

#### 7/20 - Q20. text에서 'H,h'가 아닌 것 모두를 출력하세요.

text = 'Hello my friend! Life is short you need Python!'

In [71]:
text = 'Hello my friend! Life is short you need Python!'

h = re.compile('[^Hh]')
x = h.findall(text)
print(x)

['e', 'l', 'l', 'o', ' ', 'm', 'y', ' ', 'f', 'r', 'i', 'e', 'n', 'd', '!', ' ', 'L', 'i', 'f', 'e', ' ', 'i', 's', ' ', 's', 'o', 'r', 't', ' ', 'y', 'o', 'u', ' ', 'n', 'e', 'e', 'd', ' ', 'P', 'y', 't', 'o', 'n', '!']

#### 7/21 - Q21. 'we are going home'에서 home만 출력하세요.

In [6]:
import re

text = 'we are going home'
text[-4:]

'home'

#### 7/21 - Q22. '199305, 1923A, a93247'에서 '199305'만 출력하세요.

In [7]:
num = '199305, 1923A, a93247'

a = re.compile('(\d+),')
a.findall(num)

['199305']

#### 7/21 - Q23. '12345abc'에서 'abc'만 출력하세요.

In [10]:
al = '12345abc'

a = re.compile('[a-z]+')
a.findall(al)

['abc']

In [1]:
al = '12345abc'
al[-3:]

'abc'

In [3]:
import re
al = '12345abc'
m = re.search('\D+',al)
m.group()

'abc'

In [6]:
al = '12345abc'
x = re.search('\d+',al)
x.group()

'12345'

In [14]:
al = '12345abc'
re.sub('[^0-9]','',al) # '' 빈칸 주는거 숫자가 아닌걸 공백으로 대체하라는 이야깅

'12345'

#### 7/21 - Q24. '12345abc'에서 'a'만 출력하세요.

In [12]:
al = '12345abc'

al[-3]

'a'

In [4]:
al = '12345abc'
x = re.search('a',al)
x.group()

'a'

In [5]:
al = '12345abc'
x = re.search('[a-z]',al)
x.group()

'a'

#### 7/21 - Q25. 'abc12345Abc'에서 'A'만 출력하세요.

In [16]:
ab = 'abc12345Abc'

print(ab[-3])

x = re.compile('[A-Z]+')

x.findall(ab)

A

['A']

#### 7/22 - Q26. 'Banker'에서 'anker', 'banker123'에서 'banker'를 출력하세요.

In [20]:
import re

b = 'Banker'
re.findall('[a-z]+',b)

['anker']

In [21]:
b = 'banker123'
re.findall('\D+',b)

['banker']

#### 7/22 - Q27. 'KOREA 대한민국'에서 '대'만 출력하세요.

In [27]:
k =  'KOREA 대한민국'
d = re.search('[가-힣]',k)
print(d.group())

대

#### 7/22 - Q28. Q. 'aaaaBBBcccDDDeee'을 모두 출력하세요.
text = 'aaaBBccDDeeaaaaBBBcccDDDeeeeeeDDDcccBBBaaaa'

In [53]:
text = 'aaaBBccDDeeaaaaBBBcccDDDeeeeeeDDDcccBBBaaaa'

a = re.compile('(\w{16})$')
b = a.search(text)

c = b.group(1)
c[::-1]

'aaaaBBBcccDDDeee'

In [2]:
import re
text = 'aaaBBccDDeeaaaaBBBcccDDDeeeeeeDDDcccBBBaaaa'
p = re.search('a{4}B{3}c{3}D{3}e{3}',text)
p.group()

'aaaaBBBcccDDDeee'

#### 7/22 - Q29. 아래의 경우에서 \<html>만 출력하세요

In [60]:
# Q

text = '<html><head><title>Title</title></head><body></body></html>'

pattern = re.compile('<.*>')  # * 별표는 all


print(len(text))
p = pattern.search(text)
p.group()

59

'<html><head><title>Title</title></head><body></body></html>'

In [3]:
text = '<html><head><title>Title</title></head><body></body></html>'

pattern = re.compile('<.*?>')  # 안탐욕스러운거 ?


print(len(text))
p = pattern.search(text)
p.group()

59

'<html>'

#### 7/22 - Q30. '1234a1234'에서  '1', '2', '3', '4'를 모두 출력하세요.

In [55]:
import re

a =  '1234a1234'
m = re.findall('(\d)',a)
m

['1', '2', '3', '4', '1', '2', '3', '4']

#### 7/25 - Q31.

#### 7/25 - Q32.  text에서 전체문장 모두 출력하세요.

In [76]:
# Q.
text = "what are you doing?\nit is going to be late for school\nwe need to hurry up"
regex = re.compile('.*')
mo = regex.search(text)
print(mo.group())

what are you doing?

In [2]:
text = "what are you doing?\nit is going to be late for school\nwe need to hurry up"
regex = re.compile('\D*') # \D 숫자 빼고 모든 문자와 기호들
mo = regex.match(text)
print(mo.group())

what are you doing?
it is going to be late for school
we need to hurry up

In [3]:
text = "what are you doing?\nit is going to be late for school\nwe need to hurry up"
regex = re.compile('.*',re.DOTALL)  # * all 인데 \n 있는데 까지만! re.DOTALL 쓰면 다 다 나온다
mo = regex.search(text)
print(mo.group())

what are you doing?
it is going to be late for school
we need to hurry up

In [1]:
import re # 이곤 아냐..

text = "what are you doing?\nit is going to be late for school\nwe need to hurry up"
a = re.findall('\w+[^\n\s]', text)
a = ' '.join(a)
a

'what are you doing? it is going to be late for school we need to hurry up'

#### 7/25 - Q33.  text에서 대소문자 구분없이 전체문장 모두 출력하세요

In [41]:
text = 'Friend fRiend friEnd FRIEND'

b = re.findall('\w+', text)
b = ' '.join(b)
b

'Friend fRiend friEnd FRIEND'

In [6]:
text = 'Friend fRiend friEnd FRIEND'

b = re.findall('\w+', text)
for i in range(0,4):
    print(b[i])

Friend
fRiend
friEnd
FRIEND

In [7]:
text = 'Friend fRiend friEnd FRIEND'

regex = re.compile('[a-z ]*',re.I)
mo = regex.search(text)
print(mo.group())

Friend fRiend friEnd FRIEND

In [11]:
text = 'Friend fRiend friEnd FRIEND'

regex = re.compile('friend',re.I)  # re.I
mo = regex.findall(text)
for i in mo:
    print(i)

Friend
fRiend
friEnd
FRIEND

#### 7/25 - Q34.  1609160537.371015을 "Sat Jun 26 08:35:03 2021" 포멧으로 출력하세요.

In [14]:
import time
from datetime import datetime

dt_object = datetime.fromtimestamp(1609160537.371015)
print(dt_object)
dt_object.strftime('%c')

2020-12-28 22:02:17.371015

'Mon Dec 28 22:02:17 2020'

In [15]:
# 와 대박간단 time.ctime!! float >> string
timestring=time.ctime(1609160537.371015)
timestring

'Mon Dec 28 22:02:17 2020'

In [22]:
# ctime() 함수는 주어진 timestamp를 현지 시간대 기준으로 소위 미국에서 흔히 사용되는 요 월 일 시:분:초 년 포멧으로 변환해줍니다. 그냥 간단하게 timestamp가 나타내는 날짜와 시간을 확인해보는 용도로 쓰기에 좋습니다.

In [ ]:
from datetime import datetime

timestamp = 1609160537.371015
dt_object = datetime.fromtimestamp(timestamp)
print(dt_object)

In [34]:
# 한땀 한땀스..
days = datetime.strftime(dt_object, '%a %b %d %H:%M:%S %Y')
days

'Mon Dec 28 22:02:17 2020'

In [16]:
# a b d X Y 도 요로케 나옴
days = datetime.strftime(dt_object, '%a %b %d %X %Y')
days

'Mon Dec 28 22:02:17 2020'

#### 7/25 - Q35. 현재 날짜와 시간을 "Sat Jun 26 08:35:03 2021" 포멧으로 출력하세요

In [20]:
t = time.time()
type(t)
d = datetime.fromtimestamp(t)
print(d)
print(d.strftime('%c'))
print(d.strftime('%a %b %d %X %Y'))

2022-07-26 09:21:20.379056
Tue Jul 26 09:21:20 2022
Tue Jul 26 09:21:20 2022

In [35]:
today = datetime.now().strftime('%a %b %d %H:%M:%S %Y')
today

'Mon Jul 25 15:27:30 2022'

#### 7/26 - Q36. 현재 시간을 년-월-일 시:분:초로 출력하세요.

In [8]:
from datetime import datetime
today = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
today

'2022-07-27 09:20:03'

#### 7/26 - Q.37. 현재 시간을 time.time을 불러와서 년-월-일 시:분:초로 출력하세요.

In [30]:
today = time.time()
print(today)
today_now = datetime.fromtimestamp(today)
print(today_now.strftime('%Y-%m-%d %H:%M:%S'))

1658814285.7815974
2022-07-26 14:44:45

#### 7/26 - Q38. 올해 경과된 날짜수 계산하세요

1/1 부터 현재까지

In [2]:
from datetime import date

a = date(2022,1,1)
b = date.today()
b-a

datetime.timedelta(days=207)

#### 7/26 - Q39. 현재 요일을 "2021-6-26 오늘은 토요일입니다."와 같은 형식으로 출력하세요.

In [12]:
a = date.today().weekday()
print(date.today().weekday())
date_dict = {0:'월',1:'화',2:'수',3:'목',4:'금',5:'토',6:'일'}
print(date_dict[a])

today = (f'{date.today()} 오늘은 {date_dict[a]}요일 입니다.')
today

2
수

'2022-07-27 오늘은 수요일 입니다.'

#### 7/26 - Q40. 1에서 백만까지 더하는데 걸리는 프로그램 실행 시간을 밀리초(ms) 단위로 구하세요.

In [59]:
%%time
time.sleep(1)

CPU times: total: 0 ns
Wall time: 1.01 s

In [62]:
%%time

start = time.time()

r = 0
for i in range(1, 1000001):
    r += i
    
end = time.time()

time.sleep(end-start)

CPU times: total: 109 ms
Wall time: 239 ms

#### 7/27 - Q41. 아래 코드를 보완하여 발생 가능한 모든 예외(정수, 인덱스, 미리 파악하지 못한 예외)를 처리한 후 마지막에  '모든 예외처리 완료'를 출력하세요.
```
Q. 
list_num = [52,273,32,72,100]

num_input = int(input('정수 입력> '))
print(f'{num_input}번째 요소: {list_num[num_input-1]}')
```

In [52]:
# Q. 
list_num = [52,273,32,72,100]

num_input = int(input('정수 입력> '))
print(f'{num_input}번째 요소: {list_num[num_input-1]}')

정수 입력> 5
5번째 요소: 100

In [58]:
# Q. 
list_num = [52,273,32,72,100]

while True :
    try:
        num_input = int(input('정수 입력> '))
        print(f'{num_input}번째 요소: {list_num[num_input-1]}')

    except ValueError:
        print('입력한 값은 정수가 아닙니다.')
    except IndexError as e:
        print('인덱스 오류!')
    except:
        print('Error!')

    finally :
        print('모든 예외처리 완료!')

정수 입력> 5
5번째 요소: 100
모든 예외처리 완료!

#### 7/27 - Q42. 기본가격 1000원인 2개의 상품에 대하여 임의의 추가 가격을 입력시 가격 조정한 결과를 반환하는 Price 클래스를 생성 후 객체를 만들어 price1, price2를 수행하세요. 
- price1 : 기본가격 + 추가가격
- price2 : (기본가격 + 추가가격) * 90%

In [117]:
class Price:
    def __init__(self):
        self.result = 1000  # 기본가격 1000원
    def add(self, num):
        self.result += num
        return self.result
    def per(self, num):
        self.result += (num * 0.9)
        return self.result

price1 = Price().add
price2 = Price().per

# price1
x = int(input("가격을 입력하세요."))
print(f'가격은 {price1(x)}원 입니다.')

가격을 입력하세요.1000
가격은 2000원 입니다.

In [118]:
# price2
try :
    y = int(input("가격을 입력하세요."))
    print(f'할인된 가격은 {price2(y)}원 입니다.')
except ValueError as e:
    print('정확한 금액을 입력하세요.')

가격을 입력하세요.1000
할인된 가격은 1900.0원 입니다.

#### 7/27 - Q43. strings를 문자의 크기 순서로 내림차순 정렬하세요
strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']

In [33]:
strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']
strings[::-1]

['ababa', 'aaaa', 'bar', 'ca', 'a']

In [38]:
strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']
strings.sort(key=len,reverse=True)
strings

['ababa', 'aaaa', 'bar', 'ca', 'a']

In [3]:
strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']
strings.sort(key = lambda x:len(x), reverse=True)
strings

['ababa', 'aaaa', 'bar', 'ca', 'a']

In [4]:
strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']
strings.reverse()
strings

['ababa', 'aaaa', 'bar', 'ca', 'a']

#### 7/27 - Q44. strings를 다양한 문자가 포함된 순서로 정렬하세요
```
Q
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key = lambda x:len(set(x)))
strings
```

In [32]:
# Q.
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key = lambda x:len(set(x)))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [119]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key = lambda x:len(set(list(x))))
strings[::-1]

['card', 'bar', 'abab', 'foo', 'aaaa']

#### 7/27 - Q45.  'abcde' 를 'edcba'로 바꾸어 출력하세요.(5가지 방법)

In [31]:
# 1
a = 'abcde'
print(a[::-1])

# 2
a = 'abcde'
print(''.join(reversed(a)))

# 3
a = 'abcde'
b = ''
for i in a:
    b = i + b
print(b)

# 4
a = 'abcde'
li = list(a)

li.reverse()
print(''.join(li))


# 5
a = 'abcde'
def rev(str):
    if str=='': return str
    else:
        return rev(str[1:]) + str[0]
print(rev(a))

edcba
edcba
edcba
edcba
edcba

#### 7/28 - Q46. numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요.
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

In [7]:
from collections import Counter

numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
count = Counter(numbers)
count

Counter({3: 4, 6: 2, 5: 2, 8: 2, 2: 2, 9: 2, 7: 2, 4: 2})

In [1]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

dic = {}
for i in numbers:
    if i in dic:
        dic[i] += 1
    else:
        dic[i] = 1
dic

{3: 4, 6: 2, 5: 2, 8: 2, 2: 2, 9: 2, 7: 2, 4: 2}

#### 7/28 - Q47. 코딩을 한줄로 작성해서 동일한 결과를 출력하세요

In [8]:
# Q.
list = []
for i in range(0,20,2):
    list.append(i*i)
print(list)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [39]:
list=[i*i for i in range(0,20,2)]
print(list)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

#### 7/29 - Q48. 반복문으로 팩토리얼을 구하는 사용자 함수를 작성하고 5!, 10!를 구하세요.

In [26]:
def factorial_for(n):
    ret = 1
    for i in range(1, n+1):
        ret *= i
    return ret


print(factorial_for(5))
print(factorial_for(10))

120
3628800

#### 7/29 - Q49. 재귀란 '자기자신을 호출하는 것'을 의미한다. 재귀함수를 이용해서 팩토리얼을 구하는 사용자 함수를 작성하고 1!, 5!, 10!를 구하세요.
factorial(n) = n * factorial(n-1) (n >= 1)

In [29]:
def f(n):                
    if n == 0 :
        return 1
    return n * f(n-1)
print(f(1))
print(f(5))
print(f(10))

1
120
3628800

#### 7/28 - Q50. list a의 모든 원소를 실수형으로 바꾸어 출력하세요

a = [1,2,3,4,5]

In [7]:
a = [1,2,3,4,5]
li = []
for i in a:
    li.append(float(i))
print(li)

[1.0, 2.0, 3.0, 4.0, 5.0]

In [11]:
a = [1,2,3,4,5]
list = []
list(map(lambda x:float(x),a))
list(map(float,a))

TypeError: 'list' object is not callable

#### 7/29 - Q31. 문자열 리스트 states를 정형화하여 아래와 같이 출력하세요.
```
# Q. 
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']
[출력]
['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

```

In [8]:
import re

states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

def form(word):
    word = word.strip()
    word = re.sub('[^\w*]+','',word)
    word = word.title()
    return word
list(map(form,states))

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'Southcarolina',
 'Westvirginia']

In [9]:
import re

states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

def form(word):
    word = word.strip()
    word = re.sub('[#?!]+','',word)
    word = word.title()
    return word
list(map(form,states))

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

#### 7/29 - Q51. 게시물의 총 건수와 한 페이지에 보여 줄 게시물 수를 입력시 총 페이지 수를 출력하는 프로그램

In [30]:
m = int(input("게시물 총 건수 : "))
n = int(input("한 페이지에 보여줄 게시물 수 : "))

def total_page(m,n):
    if m % n == 0:
        return m // n
    else : m // n + 1
        
total_page(m,n)

게시물 총 건수 : 50
한 페이지에 보여줄 게시물 수 : 10

5

In [31]:
# 게시판 페이징
import math

m = int(input('총건수: '))
n = int(input('한페이지에 보여줄 게시물수: '))

print(math.ceil(m/n))

총건수: 50
한페이지에 보여줄 게시물수: 10
5

#### 7/29 -  Q52. 랜덤하게 1000명의 이름, 키와 몸무게 만들어 저장한 후 다시 불러내어 다음과 같이 출력하세요.

- 이름 :라바
- 몸무게: 80
- 키: 146
- BMI: 37.53049352598987
- 결과: 과체중

In [37]:
import numpy as np

name = "가나다라마바사아자차카타파하"


for i in name:
    




def random_name():
    for i in name:
        name = random_name(name)
    result = ""
    return result


height = np.random.normal(165,25, size=1000)
weight = np.random.normal(70,30, size=1000)

random_name(name)

TypeError: random_name() takes 0 positional arguments but 1 was given

#### 8/1 - Q53. 입력한 숫자를 천 단위로 구분하여 출력하세요.

In [16]:
num = int(input('숫자를 입력하세요  '))
print(format(num, ',d'))

숫자를 입력하세요  1234567789
1,234,567,789

#### 8/1 - Q54. 카운터에서 거스름돈으로 사용할 500원, 100원, 50원, 10원짜리 동전이 무한히 존재한다고 가정한다. 손님에게 거슬러 줘야 할 돈이 N원일 때 거슬러 줘야 할 동전의 최소 개수를 구하세요. 단, 거슬러 줘야 할 돈 N은 항상 10의 배수이다. 2750원

In [18]:
n = int(input())
coins = [500,100,50,10]
answer = 0

for coin in coins:
    answer += n // coin
    n %= coin
    
print(answer)

2750
8

In [1]:
n = 2750
count = 0

# 큰 단위의 화폐부터 차례대로 확인하기
coin_types = [500, 100, 50, 10]

for coin in coin_types:
    count += n // coin # 해당 화폐로 거슬러 줄 수 있는 동전의 개수 세기
    n %= coin

print(count)

8

#### 8/2 - Q55. data/mydata.txt 파일에 있는 단어 개수를 출력하세요.

In [9]:
d = open('./mydata.txt','r')
d

In [10]:
data = d.read()
data1 = len(data.split())
print(f'단어 수 : {data1}')

단어 수 : 213

#### 8/2 - Q56. 파일이름과 특정 단어을 인자로 입력하면 그 파일에 있는 특정 단어의 개수를 반환하는 사용자 함수를 이용하여 mydata 파일에서 how의 개수를 출력하세요.

In [7]:
def wordcount():
    file_name = input('파일 이름을 입력하세요 > ')
    find_word = input('찾고 싶은 단어를 입력하세요 > ')
    
    file=open(file_name,"r")
    sum=0
    for mydata in file:
        a = mydata.split(' ')
        for b in a:
            c = b.count(find_word)
            sum += c 
    print(f'{find_word}의 개수: {sum}')
wordcount()

파일 이름을 입력하세요 > mydata.txt
찾고 싶은 단어를 입력하세요 > how
how의 개수: 2

In [12]:
def countWord(filename, word):
    with open(filename, 'r') as f:
        text = f.read()
        text = text.lower() # 대소문자 구분 없이 모두 소문자로 변환
        pos = text.find(word)
        count = 0
        while pos != -1: # 단어가 없을 때까지 하나씩 카운트
            count += 1
            pos = text.find(word, pos+1)
    return count

filename = input('filename을 입력하세요: ')
word = input('filename에서 개수를 구할 단어를 입력하세요: ').lower() #소문자
ret = countWord(filename, word)
print(f'{word}의 개수: {ret}')

filename을 입력하세요: mydata.txt
filename에서 개수를 구할 단어를 입력하세요: HOW
how의 개수: 2

#### 8/3 - Q59.
문자열을 입력받아 같은 문자가 연속적으로 반복되는 경우에 그 반복 횟수를 표시해 문자열을 압축하여 표시하세요.
- 예) "aaabbcccccca" -> a3b2c6a1

In [2]:
string = input("문자열을 입력하세요")

idx = string[0]
count = 1
length = len(string)

for i in range(1, length):
    if string[i] == idx:
        count += 1
    else:
        print('%c%d' % (idx, count), end='')
        count = 1
        idx=string[i]
print("%c%d" % (string[length-1], count))

문자열을 입력하세요aaabbcccccca
a3b2c6a1

In [3]:
string = input("문자열을 입력하세요")

def compress(s):
    bfr = ""
    cnt = 0
    l = ""

    for c in s :
        if c==bfr : cnt+=1
        else:
            if (bfr!="") : l+=bfr+str(cnt)
            bfr=c
            cnt=1
    return l+bfr+str(cnt)

print(compress(string))

문자열을 입력하세요aaaaabbbcccccaa
a5b3c5a2

In [5]:
from itertools import groupby
t = 'aaaaabbbcccccaa'
''.join(f'{x}{len(list(y))}' for x, y in groupby(t))

'a5b3c5a2'

In [6]:
for x, y in groupby(t):
    print(x, list(y))

a ['a', 'a', 'a', 'a', 'a']
b ['b', 'b', 'b']
c ['c', 'c', 'c', 'c', 'c']
a ['a', 'a']

In [5]:
inputs="aaabbcccccca"
ans=[]
count=1

for x in range(len(inputs)-1):

    if inputs[x]==inputs[x+1]:

        count+=1

    else :
        ans.append(inputs[x])
        ans.append(count)
        count=1
        x+=1
else : 
    ans.append(inputs[x])
    ans.append(count)

ans = str(ans)
a = ''.join(ans)
a

"['a', 3, 'b', 2, 'c', 6, 'a', 1]"

#### 8/4 - Q62.
N개의 요소로 이루어진 배열이 있을 때 주어진 수들을 M번 더하여 가장 큰 수를 만드는 프로그램을 작성하세요. 단 배열의 특정한 인덱스(번호)에 해당하는 수가 연속해서 K번을 초과하여 더해질 수 없는 것이 특징이다.
프로그램은 다음 조건을 만족하는 N, M, K를 공백으로 일차 입력하고 N개의 배열을 공백으로 이차 입력하면 결과물을 출력하는 방식으로 수행함.
- 2 <= N <= 1000
- 1 <= M <= 10000
- 1 <= K <= 10000

In [2]:
# N, M, K를 공백으로 구분하여 입력받기
n, m, k = map(int, input().split())
# N개의 수를 공백으로 구분하여 입력받기
data = list(map(int, input().split()))

data.sort() # 입력받은 수들 정렬하기
first = data[n - 1] # 가장 큰 수 , 이유: sort
second = data[n- 2] # 두 번째로 큰 수

result = 0

while True:
    for i in range(k):# 가장 큰 수를 K번 더하기
        if m == 0: # m이 0이라면 반복문 탈출
            break
        result += first
        m -= 1 # 더할 때마다 1씩 빼기
    if m == 0:# m이 0이라면 반복문 탈출
        break
    result += second # 두 번째로 큰 수를 한 번 더하기
    m -= 1 # 더할 때마다 1식 빼기
    
print(result) # 최종 답안 출력

5 8 3
2 3 5 4 6
46

In [1]:
# N, M, K를 공백으로 구분하여 입력받기
n, m, k = map(int, input().split())
# N개의 수를 공백으로 구분하여 입력받기
data = list(map(int, input().split()))

data.sort() # 입력받은 수들 정렬하기
first = data[n - 1] # 가장 큰 수 , 이유: sort
second = data[n- 2] # 두 번째로 큰 수
# 가장 큰 수 더해지는 횟수 계산
count = int(m / (k + 1)) * k
count += m % (k + 1) # 나누어 떨어지지 않았을 경우

result = 0
result += count * first # 가장 큰 수 더하기
result += (m - count) * second # 두 번째로 큰수 더하기

print(result)

4 10 3
1 2 3 4
38

In [ ]:
i, j = divmod(M,K)
total_sum = sum(array_b[:i]) * 3 + array_b[i] * j

#### 8/5 - Q61. file1, 2의 파일 크기를 각각 구하세요.

- file1 = 'data/stockcode.txt'
- file2 = 'data/img_sample.jpg'

In [2]:
import os
file_size = os.path.getsize(r'stockcode.txt') 
print('File Size:', file_size, 'bytes')
file_size2 = os.path.getsize(r'img_sample.jpg')
print('File Size:', file_size2, 'bytes')

File Size: 16339 bytes
File Size: 170005 bytes

#### 8/5 - Q62.
stockcode.txt의 105바이트 위치에서 500바이트를 읽어 그 내용은 stock_part.txt에 저장 한 후 출력하세요.

In [6]:
import os
with open('stockcode.txt','rb') as f :  # 바이트로 읽고 쓰기 rb, wb
    f.seek(105,0)
    body = f.read(500)
with open('stock_part.txt','wb') as f:
    f.write(body)
with open('stock_part.txt','r') as f:
    print(f.read())
os.path.getsize('stock_part.txt')

 유한양행
000101 유한양행우
000120 대한통운
000140 하이트홀딩스
000141 하이트홀딩스우
000150 두산
000151 두산우
000152 두산2우B
000180 성창기업지주
000210 대림산업
000211 대림산업우
000220 유유제약
000221 유유제약1우
000222 유유제약2우B
000230 일동제약
000240 한국타이어
000270 기아차
000300 대유신소재
000320 디피아이홀딩스
000321 디피아이홀딩스우
000322 디피아이홀딩스2B
000360 삼환기업
000361 삼환기업우
000370 한화손해보험
000390 삼화페인트
000400 롯데손해보험
000420 로

500

#### 8/8 - Q63.
네이버 검색에서 관심 주제와 기사 수를 입력하면 그만큼 출력하는 크롤링 프로그램을 작성하여 다음 사항을 수행하세요.

기사 제목과 링크를 데이터프레임으로 가져온 후 본문 내용에서 한글 단어만 출력하여 형태소 분석
최근 국내 'AI'와 관련하여 가장 많이 언급되는 단어에 대한 빈도분석 및 시각화
AI 분야에서의 유의할 만한 트랜드 정보 및 인사이트 도출

#### 8/9 - Q64. 
어떠한 수 N이 1이 될 때까지 다음의 두 과정 중 하나를 반복적으로 선택하여 수행하려고 한다. 단 두번째 연산은 N이 K로 나누어 떨어질 때만 선택할 수 있다.  N과 K를 입력했을 때 N이 1이 될 때까지 1번 혹은 2번의 과정을 수행해야 하는 최소 횟수를 구하는 프로그램을 완성하세요.

1. N에서 1을 뺀다.
2. N을 K로 나눈다.

In [6]:
n, k = map(int,input().split())
count = 0

while True:
    if n == 1:
        break
    if n % k == 0:
        n //= k
        count += 1
    else:
        n -= 1
        count += 1
print(count)

17 4
3

#### 8/10 Q65. 아래와 같이 출력하는 코드를 작성하세요.
```
*
**
***
****
*****
```

In [2]:
for i in range(5):
    for j in range(5):
        if j <= i :
            print('*', end='')
    print()

*
**
***
****
*****

In [1]:
for i in range(1,6):
    print(i*'*')

*
**
***
****
*****

#### 8/11 - Q66. 아래와 같이 출력하는 코드를 작성하세요.
```
     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *
```

In [18]:
i = 1
j = 5
while i < 11 :
    print(' '*j+'*'*i)
    i+=2
    j-=1
while i > 0 :
    print(' '*j+'*'*i)
    i-=2
    j+=1

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

In [25]:
n = 6
for i in range(1,n+1):
    print(' '*(n-i), '*'*(2*i-1))
for j in range(n-1, 0, -1):
    print(' '*(n-j), '*'*(2*j-1))

      *
     ***
    *****
   *******
  *********
 ***********
  *********
   *******
    *****
     ***
      *

#### 8/11 - Q67. Tree의 높이와 밑동의 높이를 입력하면 해당하는 높이의 아래와 같은 Tree를 출력하는 프로그램을 작성하세요.
```
         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************
        ***
        ***
        ***
```

In [34]:
def tree(x,y):
    for i in range(x):
        print(' '*(x-i) + '*'*(i*2+1))
    for i in range(y):
        print(' '*(x-1) + '*'*y)
        
tree(10,3)

          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************
         ***
         ***
         ***

#### 8/12 - Q68. 구구단을 출력하는 프로그램을 만드세요.

In [1]:
for i in range(2,10):
    for j in range(1,10):
        print(i, '*', j, '=', i*j )
        if j == 9 :
            print('--------------')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
--------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
--------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
--------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
--------------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
--------------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
--------------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
--------------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
--------------

In [3]:
for i in range(2,10):
    for j in range(1,10):
        print(str(i) +' * '+ str(j)+ ' = '+ str(i*j) )
        if j == 9 :
            print('--------------')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
--------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
--------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
--------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
--------------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
--------------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
--------------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
--------------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
--------------

####  8/16 - Q69.
아래와 같이 입력하면 N X M 행렬 형태의 숫자 카드 중에서 먼저 뽑고자 하는 카드가 포함되어 있는 행을 선택한 후 그 행에서 가장 숫자가 낮은 카드를 뽑아야 하는 규칙하에서 가장 높은 숫자가 쓰인 카드 한장의 숫자를 출력하는 프로그램을 작성하세요. 
- 첫번째 입력 : N X M 행열에 대하여 N(행), M(열)의 개수를 공백을 기준으로 입력(1<= N, M<=100)
- 두번째 입력 : 각 행의 숫자를 공백을 기준으로 입력. 단, 각 숫자는 1 이상 10000 이하의 자연수임.

In [14]:
n, m = map(int, input().split())
result = 0

for i in range(n):
    data = list(map(int, input().split()))
    min_number = min(data)
    result = max(result, min_number)
    
print(result)

3 3
3 1 2
4 1 4
2 2 2
2

#### 8/17 - Q70. 
Q69는 min max 함수, 정렬 등의 방법으로 문제를 풀었다. 이 문제를 다중 for문을 사용하여 풀어보세요.

In [7]:
n, m = map(int, input().split())
result = 0

for i in range(n) :
    x = list(map(int, input().split()))
    search = 10001
    for j in x :
        search = min(search, j)
    result = max(result, search)

print(result)

3 3
3 1 2
4 1 4
2 2 2
2

#### 8/17 - Q71.
여행가 A는 N X N 크기의 정사각형 공간에 서 있다. A는 6개의 이동 명령 계획에 따라 움직이게 된다. 이동 명령은 L(왼쪽), R(오른쪽), U(윗쪽), D(아랫쪽)로 구성되며 R R R U D D와 같이 6개이다. 정사각형 공간을 벗어나는 움직임은 무시된다. 언급한 규칙에 따라 N과 이동 명령 계획으로 각각 5와 R R R U D D를 입력하면 A의 공간 좌표는 3 4가 된다. 이동 명력 계획서가 주어질 때 A가 최종적으로 도착할 지점의 좌표를 출력하는 프로그램을 작성하시오.

In [19]:
n = int(input())
x, y = 1, 1
plans = input().split()

dx = [0, 0, -1, 1]
dy = [-1, 1, 0, 0]
direction = ['L', 'R', 'U', 'D']

for plan in plans:
    for i in range(len(direction)):
        if plan == direction[i]:
            nowx = x + dx[i]
            nowy = y + dy[i]
            
    if nowx < 1 or nowy < 1 or nowx > n or nowy > n :
        continue
    x, y = nowx, nowy

print(x, y)

5
R R R U D D
3 4

In [ ]:
# 민섭님이 한거 가져오기 아주 이해가 쏙쏙 댐

#### 8/18 -  Q72.
정수 N이 입력되면 00시 00분 00초부터 N시 59분 59초까지의 모든 시각 중에서 3이 하나라도 포함되는 모든 경우의 수를 구하는 프로그램을 작성하시오.(0<= N <=23)

In [1]:
# 7을 입력하면 14625 << 경우의 수

In [2]:
n = int(input())
result = 0

for i in range(n+1) :
    for j in range(60) :
        for k in range(60) :
            if '3' in str(i) + str(j) + str(k) :
                result += 1

print(result)

7
14625

#### 8/19 - Q73.
행 위치는 1~8로 열 위치는 a ~ h로 표현하는 8 x 8 좌표 평면상에서 특정 위치가 주어졌을 때 아래 조건하에서 그 위치에서 이동할 수 있는 경우의 수를 출력하는 프로그램을 작성하세요.
- 수평으로 두 칸 이동한 뒤에 수직으로 한 칸 이동
- 수직으로 두 칸 이동한 뒤에 수평으로 한 칸 이동
- 8 x 8 좌표 평면을 나갈 수 없음

In [3]:
start = input('입력 값 : ')

x = int(start[1])
y_list = ['a','b','c','d','e','f','g','h']
y = y_list.index(start[0])+1

steps = [(-2,-1),(-2,1),(2,-1),(2,1),(-1,-2),(-1,2),(1,-2),(1,2)]

count = 0
for step in steps:
    nx = x + step[0]
    ny = y + step[1]
    
    if (nx >= 1 & nx <= 8 & ny >= 1 & ny <= 8):
        count += 1
        
print(f'경우의 수 : {count}')

입력 값 : a1
경우의 수 : 2

#### 8/22 - Q74.
캐릭터는 매뉴얼에 따라 이동한다. 아래 입력조건에 따라 캐릭터가 방문한 칸의 수를 출력하는 프로그램을 작성하세요.

- 입력조건
  - 첫째 줄에 맵의 세로 크기 N과 가로 크기 M을 공백으로 구분하여 입력 (3 <= N,M <=50)
  - 둘째 줄에 게임 캐릭터가 있는 칸의 좌표 (A,B)와 바라보는 방향 d가 각각 서로 공백으로 구분하여 입력(방향 d의 값으로는 북, 동, 남, 서가 각각 0,1,2,3)
  - 세째 줄에 맵이 육지인지 바다인지에 대한 정보 입력(육지 0, 바다 1) N개의 줄에 맵의 상태가 북쪽으로 부터 남쪽순서대로 각 줄의 데이터는 서쪽부터 동쪽 순서대로 주어진다.
  - 처음에 캐릭터가 위치한 칸의 상태는 항상 육지이다.


- 매뉴얼<BR>
  캐릭터가 있는 장소는 1 X 1 크기의 정사각형으로 이루어진 N X M 크기의 직사각형으로 각각의 칸은 육지 또는 바다이다.캐릭터는 동서남북 중 한 곳을 바라본다. 맵의 각 칸은 (A, B)로 나타낼 수 있고 A는 북쪽으로부터 떨어진 칸의 개수, B는 서쪽으로부터 떨어진 칸의 개수이다.캐릭터는 상하좌우로 움직일 수 있고 바다로 되어 있는 공간에는 갈 수 없다. 캐릭터의 움직임 설정을 위한 매뉴얼은 아래와 같다.
  - 현재 위치에서 현재 방향을 기준으로 왼쪽 방향부터 차례대로 갈 곳을 정한다.
  - 캐릭터의 바로 왼쪽 방향에 아직 가보지 않은 칸이 존재한다면 왼쪽 방향으로 회전한 다음 왼쪽으로 한 칸을 전진한다. 왼쪽 방향에 가보지 않은 칸이 없다면 왼쪽 방향으로 회전만 수행하고 1단계로 돌아간다.
  - 만약 네 방향 모두 이미 가본 칸이거나 바다로 되어 있는 칸인 경우에는 바라보는 방향을 유지한 채로 한 칸 뒤로 가고 1단계로 돌아간다. 단, 이때 뒤쪽 방향이 바다인 칸이라 뒤로 갈수 없는 경우에는 움직임을 멈춘다.

In [ ]:
4 4 -> 4 X 4 칸
1 1 0 -> 좌표, 북 쪽
?????????????????
1 1 1 1
1 0 0 1
1 1 0 1
1 1 1 1

3

In [ ]:
# 어렵군

한번더,,

In [3]:
# 스택 : 박스 쌓기에 비유. 선입후출 구조

stack=[]
stack.append(5)
stack.append(2)
stack.append(3)
stack.append(7)
stack.pop()
stack.append(1)
stack.append(4)
stack.pop()

print(stack)
print(stack[::-1])

[5, 2, 3, 1]
[1, 3, 2, 5]

In [6]:
# 큐 : 먼저 온 사람이 먼저 들어간다. 선입선출 구조

from collections import deque
queue = deque()

queue.append(5)
queue.append(2)
queue.append(3)
queue.append(7)
queue.popleft()
queue.append(1)
queue.append(4)
queue.popleft()

print(queue)
queue.reverse()
print(queue)

deque([3, 7, 1, 4])
deque([4, 1, 7, 3])

#### 8/24 - Q75.
N X M 크기의 얼음 틀로 한번에 만들 수 있는 아이스크림의 개수를 아래 입력조건에 따라 출력하는 프로그램을 DFS(Depth First Search)를 이용하여 작성하세요. 
 
- 입력조건
  - 첫번째 줄에 얼음 틀의 세로 길이 N과 가로 길이 M이 주어진다.(1 <= N,M <= 1000)
  - 두번째 줄부터 N+1번째 줄까지 얼음 틀의 형태가 주어진다.
  - 이때 구멍이 뚫려있는 부분은 0 그렇지 않은 부분은 1이다.
  - 구멍이 뚫려 있는 부분끼리 상, 하, 좌, 우로 붙어 있는 경우 서로 연결되어 있는 것으로 간주한다.

##### DFS : 깊이 우선 탐색 : 선입후출

In [ ]:
# 선입후출

In [ ]:
5 5
00110
00011
11111
00111
11000

입력 : 가로, 세로 길이 (5 5) (M N) M이 열 N이 행
입력 : 구멍 0, 막힌거 1 이것도 입력 (0 0 1 1 0) x5
출력 : 아이스크림 몇개?

배열 x 리스트로

input

In [1]:
ii = int(input('숫자 입력'))
def recursive_function(i):
    if i == ii:
        return
    print(i, '번째 재귀함수에서', i+1, '번째 재귀함수를 호출합니다.')
    recursive_function(i+1)
    print(i, '번째 재귀함수를 호출합니다.')
recursive_function(1)

1 번째 재귀함수에서 2 번째 재귀함수를 호출합니다.
2 번째 재귀함수에서 3 번째 재귀함수를 호출합니다.
3 번째 재귀함수에서 4 번째 재귀함수를 호출합니다.
4 번째 재귀함수에서 5 번째 재귀함수를 호출합니다.
4 번째 재귀함수를 호출합니다.
3 번째 재귀함수를 호출합니다.
2 번째 재귀함수를 호출합니다.
1 번째 재귀함수를 호출합니다.

In [ ]:
# N, M을 공백을 기준으로 구분하여 입력 받기
n, m = map(int, input().split())

# 2차원 리스트의 맵 정보 입력 받기
graph = []
for i in range(n):
    graph.append(list(map(int, input())))

# DFS로 특정한 노드를 방문한 뒤에 연결된 모든 노드들도 방문
def dfs(x, y):
    # 주어진 범위를 벗어나는 경우에는 즉시 종료
    if x <= -1 or x >= n or y <= -1 or y >= m:
        return False
    # 현재 노드를 아직 방문하지 않았다면
    if graph[x][y] == 0:
        # 해당 노드 방문 처리
        graph[x][y] = 1
        # 상, 하, 좌, 우의 위치들도 모두 재귀적으로 호출
        dfs(x - 1, y)
        dfs(x, y - 1)
        dfs(x + 1, y)
        dfs(x, y + 1)
        return True
    return False

# 모든 노드(위치)에 대하여 음료수 채우기
result = 0
for i in range(n):
    for j in range(m):
        # 현재 위치에서 DFS 수행
        if dfs(i, j) == True:
            result += 1

print(result) # 정답 출력

#### 8/25 - Q76.
10! 재귀함수를 사용해서 팩토리얼 만들기

In [6]:
def factorial_iterative(n):
    result = 1
    for i in range(1, n+1):
        result *= i
    return result
factorial_iterative(10)

3628800

In [2]:
def fac(n):
    if n == 1:
        return 1
    return n * fac(n-1)
fac(10)

3628800

#### 8/30(재도전) - 8/26 - Q77.
N X M 크기의 미로에는 여러마리의 괴물이 있어 이를 피해 탈출해야 한다. 주인공의 위치는 (1,1)이고 미로의 출구는 (N-1,M-1)의 위치에 존재하며 한번에 한칸씩 이동할 수 있다. 괴물이 있는 부분은 0, 없는 부분은 1로 표시되어 있으며 미로는 반드시 탈출할 수 있는 형태로 제시된다. 주인공이 탈출하기 위해 움직여야 하는 최소 칸의 개수를 구하세요. 칸을 셀 때는 시작 칸과 마지막 칸을 모두 포함하여 계산하고 입력 조건은 아래와 같다.(BFS를 이용)
- 첫째 줄에 두 정수 N,M(4<=N,M<=200)이 주어진다. 
- 다음 N개의 줄에는 각각 M개의 정수(0 혹은 1)로 미로의 정보가 주어진다. 각각의 수들은 공백없이 붙여서 입력으로 제시된다. 
- 또한 시작칸과 마지막칸은 항상 1이다.

In [ ]:
5 5
11011
01011
01111
11011
10111
9

In [4]:
from collections import deque

# N, M을 공백으로 구분하여 입력받기
n,m=map(int,input().split())

# 2차원 리스트의 맵 정보 입력받기
graph=[]
for i in range(n):
    graph.append(list(map(int,input())))

# 이동할 네 방향 정의(상, 하, 좌, 우), x는 위쪽에서 떨어진 위치, y는 좌측에서 떨어진 위치 
dx = [-1,1,0,0]
dy = [0,0,-1,1]

# BFS 소스코드 구현
def bfs(x,y):
    # 큐 구현을 위해 deque 라이브러리 사용
    queue = deque()
    queue.append((x,y))
    # 큐가 빌 때까지 반복

    while queue:
            x,y = queue.popleft()
            # 현재 위치에서 네 방향으로의 위치 확인
            for i in range(4):
                nx = x + dx[i]
                ny = y + dy[i]
                # 미로 찾기 공간을 벗어난 경우 무시
                if nx < 0 or ny < 0 or nx >= n or ny >=m:
                    continue
                    # 괴물인 경우 무시
                if graph[nx][ny] == 0:
                    continue
                    # 해당 노드를 처음 방문하는 경우에만 최단 거리 기록
                if graph[nx][ny] == 1:
                    graph[nx][ny] =graph[x][y] + 1
                    queue.append((nx,ny))

        # 가장 오른쪽 아래까지의 최단 거리 반환(이동할 때마다 1씩 추가하기 때문에 탈출시에 최종 이동한 칸의 개수가 만들어짐)
    return graph[n-1][m-1]

# BFS를 수행한 결과 출력
print(bfs(0,0))

5 5
11011
01011
01111
11011
10111
9

#### 0830 - Q78.
소수란 2보다 큰 자연수 중에서 1과 자기자신을 제외한 자연수로는 나누어떨어지지 않는 자연수이다. 어떠한 자연수가 소수인지 아닌지 판별하는 프로그램을 작성하세요.

In [2]:
def prime_num(x):
    for i in range(2,x):
        if x % i == 0:
            return False
    return True
prime_num(4),prime_num(7)

(False, True)

In [1]:
def is_prime_number(x):
    for i in range(2,x):
        if x % i == 0:
            return False
    return True
print(is_prime_number(4))
print(is_prime_number(7))

False
True

#### 0831 - Q79.
M 이상 N 이하의 소수를 모두 출력하는 프로그램을 작성하세요.
- 입력조건
  - 첫째 줄에 자연수 M과 N이 빈칸을 사이에 두고 주어진다.(1<=M<=N<=1,000,000)
  - 단 M이상 N 이하의 소수가 하나 이상 있는 입력만 주어진다.

In [4]:
m,n = map(int,input().split())

def prime_num(x):
    for i in range(2,x):
        if x % i == 0:
            return False
    return x

li=[]
for i in range(m,n):
    if prime_num(i):
        li.append(i)
    else:
        pass
li

10 20

[11, 13, 17, 19]

#### 0902_Q80.

암호는 서로 다른 L개의 알파벳 소문자들로 구성되며 최소 한 개의 모음(a, e, i, o, u)과 최소 두 개의 자음으로 구성되어 있다고 알려져 있다. 또한 정렬된 문자열을 선호하는 직원들의 성향으로 미루어 보아 암호를 이루는 알파벳이 암호에서 증가하는 순서로 배열되었을 것이라고 추측된다. 즉, abc는 가능성이 있는 암호이지만 bac는 그렇지 않다. 새 보안 시스템에서 직원들이 암호로 사용했을 법한 문자의 종류는 C가지가 있다고 한다. 이 알파벳을 입수한 james, kevin 형제는 직원들의 방에 침투하기 위해 암호를 추측해 보려고 한다. C개의 문자들이 모두 주어졌을 때, 가능성 있는 암호들을 모두 구하는 프로그램을 다음 사항에 유의하여 작성하시오.
- 첫째 줄에 두 정수 L, C가 주어진다. (3 ≤ L ≤ C ≤ 15) 다음 줄에는 C개의 문자들이 공백으로 구분되어 주어진다. 주어지는 문자들은 알파벳 소문자이며, 중복되는 것은 없다.
- 각 줄에 하나씩, 사전식으로 가능성 있는 암호를 모두 출력한다.

In [ ]:
4 6

a t c i s w
acis
acit
acsw...

#### 0905_Q81.
파이썬의 itertools 라이브러리를 활용하여 리스트 data = ['A','B','C']로 부터 아래 문제를 풀어보세요.
- 3개를 뽑아 나열하는 모든 경우를 출력하세요(중복 허용안됨)
- 3개를 뽑아 나열하는 모든 경우를 출력하세요(중복 허용)
- 3개를 뽑아 순서에 상관없이 나열하는 모든 경우를 출력하세요(중복 허용안됨)
- 3개를 뽑아 순서에 상관없이 나열하는 모든 경우를 출력하세요(중복 허용)

In [1]:
from itertools import combinations

data = ['A','B','C']

for i in combinations(data,3):
    print(i)

('A', 'B', 'C')

In [3]:
from itertools import combinations_with_replacement

data = ['A','B','C']

for i in combinations_with_replacement(data,3):
    print(i)

('A', 'A', 'A')
('A', 'A', 'B')
('A', 'A', 'C')
('A', 'B', 'B')
('A', 'B', 'C')
('A', 'C', 'C')
('B', 'B', 'B')
('B', 'B', 'C')
('B', 'C', 'C')
('C', 'C', 'C')

In [4]:
from itertools import permutations

data = ['A', 'B', 'C']

for i in permutations(data):
    print(i)

('A', 'B', 'C')
('A', 'C', 'B')
('B', 'A', 'C')
('B', 'C', 'A')
('C', 'A', 'B')
('C', 'B', 'A')

#### 0907 - Q82.
아래사항을 참조, 파이썬의 heapq 라이브러리를 활용하여 주어진 리스트 iterable = [1,3,5,7,9,2,4,6,8,0]을 힙 정렬하여 출력하세요.
- 최소 힙 : heap 역할을 할 빈 리스트를 선언해주고, heappush 메소드의 매개변수로 해당 리스트와 추가하고자 하는 값을 넣어주면 리스트에 힙 정렬이 되게 원하는 값이 삽입된다.
- 최대 힙 : heapq에서는 최대 힙을 제공하지 않는다. 따라서 부호를 변경하는 방법을 사용해서 최대 힙을 구현한다.

#### 0913 - Q83.
파이썬 bisect 라이브러리를 활용하여 리스트 a = [1,2,3,3,3,4,4,8,9] 로 부터 아래 문제들을 풀어보세요.
- 값이 4인 데이터 개수 출력
- 값이 [-1,3] 범위에 있는 데이터 개수 출력