#### 7/13 -  Q1. 남녀 파트너 정해주기 프로그램(zip) 
같은 수의 남녀 모임에서 파트너를 랜덤하게 정해주는 프로그램을 만들어 보세요

male = ['철수','갑돌','로미오','이몽룡','온돌']

female = ['미미','갑순','줄리엣','성춘향','평강']

In [3]:
# zip 함수 이용

import numpy as np
import random

male = ['철수','갑돌','로미오','이몽룡','온돌']
female = ['미미','갑순','줄리엣','성춘향','평강']

partner = list(zip(male,female))
random.shuffle(partner)
partner

[('온돌', '평강'), ('철수', '미미'), ('로미오', '줄리엣'), ('갑돌', '갑순'), ('이몽룡', '성춘향')]

In [4]:
male = ['철수','갑돌','로미오','이몽룡','온돌']
female = ['미미','갑순','줄리엣','성춘향','평강']

random.shuffle(male)
random.shuffle(female)

couples = zip(male, female)

for i, couple in enumerate(couples):
    print(f'커플{i+1}:{couple[0]},{couple[1]}')

커플1:이몽룡,갑순
커플2:갑돌,미미
커플3:로미오,평강
커플4:온돌,성춘향
커플5:철수,줄리엣

#### 7/13 - Q2. 사용자가 입력한 횟수만큼 로또 번호를 출력하는 프로그램을 작성하세요. (중복 X)

In [5]:
num = int(input('로또 번호의 개수를 입력하세요'))

for i in range(0, int(num)):
    lo = random.sample(range(1,46),int(num))
print(lo)

로또 번호의 개수를 입력하세요5
[39, 13, 12, 3, 1]

In [6]:
num = int(input('로또 번호의 개수를 입력하세요'))

a = 0
x = []
for i in range(0, int(num)):
    a = random.sample(range(1,46),int(num))
    x.append(a)
print(x)

로또 번호의 개수를 입력하세요5
[[35, 38, 13, 36, 44], [13, 11, 14, 4, 26], [43, 26, 2, 18, 25], [29, 19, 18, 22, 33], [13, 19, 25, 42, 10]]

##### [도전과제] 발표자를 원하는 수만큼 랜덤하게 출력하는 프로그램을 작성하세요.

In [41]:
cakd7 = ['박영권','김현지','김덕현','변서연','한지웅','양주희','이호원','정지은','이정현A','이명진','이상윤','조승현','강유한','김영선','최애림','김민섭','박혜린','이정현B','윤정준','김진형','정승기','진청아','신창훈','김병석','박세희']
len(cakd7)

25

In [42]:
number

'5'

In [13]:
import random 
import numpy as np


list = ['박영권','김현지','김덕현','변서연','한지웅','양주희','이호원','정지은','이정현A',
         '이정현B','이명진','이상윤','조승현','강유한','김영선','최애림','김민섭','박혜린',
         '윤정준','김진형','정승기','진청아','신창훈','김병석','박세희']



print("=============== CAKD7 발표자 랜덤 뽑기 입니다.==============="'\n')
                        
get_ran_num = int(input(" 발표 인원을 입력해주세요 >  "'\n')) 


lucky_guy = random.sample(list,get_ran_num)

print(" ")
for i in range(get_ran_num):
    print(f'{i+1}번 문제 발표자는 {lucky_guy[i]} 입니다.')

=============== CAKD7 발표자 랜덤 뽑기 입니다.===============

 발표 인원을 입력해주세요 >
2

1번 문제 발표자는 신창훈 입니다.
2번 문제 발표자는 윤정준 입니다.

#### 7/14 - Q3. 입력받은 문자열의 각 문자를 그 다음 문자로 변경하여 출력하세요. abc -> bca

In [69]:
a = 'abc'
a[1]+a[2]+a[0]

'bca'

In [72]:
def shift(str) :
    return str[1:] + str[0]

a = 'abc'

shift(a)

'bca'

In [1]:
text = input('문자를 입력하세요. >')
ret = ''
for i in range(len(text)):
    if i != len(text)-1 :
        ret += text[i+1]
    else :
        ret += text[0]
        
print(ret)

문자를 입력하세요. >abcd
bcda

#### 7/14 - Q4. url에서 호스트 도메인을 추출하여 출력하세요.

url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601


news.naver.com 요기만 출력하기

In [12]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

tmp = url.split('/')
print(tmp[2])

news.naver.com

In [8]:
import re

url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

news = re.findall(r'[a-z]{4}.[a-z]{5}.[a-z]{3}',url)
print(news)

['news.naver.com']

In [10]:
import re

url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

news = re.search(r'([a-z]{4}.[a-z]{5}.[a-z]{3})',url)
print(news.group(1))

news.naver.com

#### 7/15 - Q5. url에서 쿼리문을 추출하여 출력하세요.

url에서 '?'뒤에 표시되는 문자열을 쿼리 문자열이라고 하며 변수=값 사이 &로 
구분되어 나열된다.

url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [20]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

qus = url.split('?')
tmp[1]

'mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [21]:
qus[1].split('&')

['mode=LSD', 'mid=shm', 'sid1=105', 'oid=028', 'aid=0002334601']

In [17]:
import re

url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

p = re.compile('[\w./:]+[?]([\w./:=&]+)')
query = p.search(url).group(1).split('&')

for i in range(len(query)):
    print(f'{i+1}번째 쿼리 문자열 : {query[i]}')

1번째 쿼리 문자열 : mode=LSD
2번째 쿼리 문자열 : mid=shm
3번째 쿼리 문자열 : sid1=105
4번째 쿼리 문자열 : oid=028
5번째 쿼리 문자열 : aid=0002334601

#### 7/15 - Q6.텍스트 파일(mydata.txt)을 읽고  파일의 내용에서 나타나는 문자들에 대해 자주 나타나는 문자들을 아래와 같이 순서대로 출력하세요.
- \[ \] -> [177]회 나타남
- [e] -> [97]회 나타남
- [t] -> [85]회 나타남

for문 사용?

In [7]:
import pandas as pd

data = pd.read_table('mydata.txt')
data

            a lot of things occur each day
0        we've got to live with on our way
1     there's so much misery on the screen
2              with commercials in between
3        and the russians won't be so late
4             uncle sam don't want to wait
5       no matter if you're black or white
6               you never ever had a right
7         and look up to the eternal skies
8                   see warfare even there
9            what once has been a paradise
10             now destruction and despair
11        in other worlds the children die
12             lacking food ill from a fly
13  oppressed by troops to tame their land
14                 it's all the same again
15             if any man is free on earth
16         then tormentors steal his birth
17         they slam gun butts in his face
18      and leave his woman choked in mace
19        so stand up for our human rights
20             push back this pest of hate
21       raise you voice pass on the light
22                unite! it's not too late
23                how many tears flow away
24                to become a sea of fears
25          how many hearts are torn apart
26             till another torment starts
27                    but before the world
28                        turns into a sun
29                all cruelty and violence
30          on earth will be dead and gone
31        so stand up for our human rights
32             push back this pest of hate
33       raise you voice pass on the light
34                unite! it's not too late

In [24]:
file = open('./mydata.txt')

lines = file.readlines()
print(lines)

['a lot of things occur each day\n', "we've got to live with on our way\n", "there's so much misery on the screen\n", 'with commercials in between\n', '\n', "and the russians won't be so late\n", "uncle sam don't want to wait\n", "no matter if you're black or white\n", 'you never ever had a right\n', '\n', 'and look up to the eternal skies\n', 'see warfare even there\n', 'what once has been a paradise\n', 'now destruction and despair\n', '\n', 'in other worlds the children die\n', 'lacking food ill from a fly\n', 'oppressed by troops to tame their land\n', "it's all the same again\n", '\n', 'if any man is free on earth\n', 'then tormentors steal his birth\n', 'they slam gun butts in his face\n', 'and leave his woman choked in mace\n', '\n', 'so stand up for our human rights\n', 'push back this pest of hate\n', 'raise you voice pass on the light\n', "unite! it's not too late\n", '\n', 'how many tears flow away\n', 'to become a sea of fears\n', 'how many hearts are torn apart\n', 'till another torment starts\n', '\n', 'but before the world\n', 'turns into a sun\n', 'all cruelty and violence\n', 'on earth will be dead and gone\n', '\n', 'so stand up for our human rights\n', 'push back this pest of hate\n', 'raise you voice pass on the light\n', "unite! it's not too late"]

In [29]:
lines = {}

for i in file:
    if i in dick2:
        dick2[i] +=1
    else:
        dick2[i] = 0

In [ ]:
# 천천히 한번 다시 하고 안보고 해보깅

In [27]:
def getTextFreq(filename):
    with open(filename,'r') as f:
        text = f.read()
        fa = {}
        for c in text:
            if c in fa:
                fa[c] += 1
            else:
                fa[c] = 1
    return fa
ret = getTextFreq('mydata.txt')
ret = sorted(ret.items(),key=lambda x:x[1], reverse=True)
print(ret)
for c, freq in ret:
    if c =='\n':
        continue
    print('[%c] - > [%d]회 나타남' %(c,freq))

[(' ', 177), ('e', 97), ('t', 85), ('a', 78), ('o', 73), ('n', 60), ('s', 60), ('r', 54), ('i', 50), ('h', 48), ('\n', 43), ('l', 34), ('u', 27), ('d', 24), ('c', 23), ('w', 20), ('m', 20), ('f', 17), ('y', 15), ('p', 15), ('b', 13), ('g', 11), ('v', 9), ("'", 8), ('k', 7), ('!', 2)]
[ ] - > [177]회 나타남
[e] - > [97]회 나타남
[t] - > [85]회 나타남
[a] - > [78]회 나타남
[o] - > [73]회 나타남
[n] - > [60]회 나타남
[s] - > [60]회 나타남
[r] - > [54]회 나타남
[i] - > [50]회 나타남
[h] - > [48]회 나타남
[l] - > [34]회 나타남
[u] - > [27]회 나타남
[d] - > [24]회 나타남
[c] - > [23]회 나타남
[w] - > [20]회 나타남
[m] - > [20]회 나타남
[f] - > [17]회 나타남
[y] - > [15]회 나타남
[p] - > [15]회 나타남
[b] - > [13]회 나타남
[g] - > [11]회 나타남
[v] - > [9]회 나타남
['] - > [8]회 나타남
[k] - > [7]회 나타남
[!] - > [2]회 나타남

#### 7/18 - Q7. 두개의 수를 입력한 후 두개의 수에 대한 사칙연산을 수행하세요.(0을 입력한 경우 다시 입력하도록 조치)

In [ ]:
# Cal4 클래스를 만들어서 작성

#### 7/18  - Q8. Order 클래스를 상속받아 extraOrder 클래스에서 메소드 오버라이딩하여 출력 가격에 원이 추가되도록 출력하세요.

In [31]:
class Order: 
    def __init__(self, name): 
        self.customer = 0 
        self.name = name 
    def order(self, price): 
        self.customer += price 
        return self.customer
    
order = Order('kevin')
print(order.order(1000))

1000

#### 7/18 - Q9. 업무미팅이 2시임을 알려주는 자동 이메일을 클래스 AutoEmail을 작성하여 아래와 같이 출력하세요.

안녕하세요. kevin님, 업무미팅은 2시입니다.